---
title: Areco
permalink: /areco/
eleventyNavigation:
  key: Areco
  order: 4
---

{% include "parts/home/hero-areco.njk" %} {% include
"parts/home/educacion-areco.njk" %} {% include "parts/home/cultura-areco.njk" %}
{% include "parts/home/gastronomia-areco.njk" %} {% include
"parts/home/deportes-areco.njk" %} {% include "parts/home/revistas-areco.njk" %}
{% include "components/contacto-fellow.njk" %}
