---
layout: layouts/base-en
title: Areco
permalink: /areco-en/
eleventyNavigation:
  key: Areco
  order: 4
---

{% include "parts/home/hero-areco-en.njk" %} {% include
"parts/home/educacion-areco-en.njk" %} {% include
"parts/home/cultura-areco-en.njk" %} {% include
"parts/home/gastronomia-areco-en.njk" %} {% include
"parts/home/deportes-areco-en.njk" %} {% include
"parts/home/revistas-areco-en.njk" %} {% include
"components/contacto-fellow-en.njk" %}
