---
layout: layouts/base-en
title: IndexEn
permalink: /home-en/
eleventyNavigation:
  key: IndexEn
  order: 4
---

{% include "parts/home/hero-home-en.njk" %} {% include
"parts/home/ubicacion-home-en.njk" %} {% include
"parts/home/caracteristicas-home-en.njk" %}{% include
"parts/home/conoce-home-en.njk" %}{% include "parts/home/masterplan-home-en.njk"
%} {% include "parts/home/valores-home-en.njk" %} {% include
"parts/home/introtestimonios-home-en.njk" %}{% include
"parts/home/testimonios-home-en.njk" %}{% include
"parts/home/responsables-home-en.njk" %}{% include
"components/contacto-fellow-en.njk" %}
