<section
  class="h-[28rem] lg:h-[35rem] 2xl:h-[44rem] flex justify-center items-start md:items-start xl:items-start banner-tropezon-bg"
  style="background-size: cover; background-position: center"
>
  <div class="container">
    <h1 class="parrafo-valores pt-10 lg:pt-20 uppercase">
      Enjoying the <br class="block md:hidden" />
      community
    </h1>
  </div>
</section>
