<section
  class="py-14 md:pt-[2.5rem] md:pb-[4.5rem] shadow-2xl relative md:overflow-hidden bg-blueTropezon"
  style="
    background-image: url('../../../assets/img/trama-caract-01.png');
    background-size: cover;
  "
>
  <!--INDICE-->
  <div
    class="absolute left-[-5.8rem] top-[39rem] flex-col items-center gap-y-28 hidden md:flex"
  >
    <h1
      class="-rotate-90 text-[0.88rem] font-hoeflerText text-orangeTropezon tracking-widest"
    >
      <i> Sobre los servicios y beneficios</i>
    </h1>
    <div class="border-l-[0.03px] border-orangeTropezon h-40"></div>
  </div>
  <!--INDICE-->

  <div class="container overflow-x-hidden md:overflow-x-auto">
    <div
      class="lg:flex justify-between items-center relative"
      data-x-data
      data-x-ref="popularToursTitle"
      data-x-intersect="anime({ targets: $refs.popularToursTitle, translateY: [100, 0], opacity: [0 , 1], easing: 'linear', duration: 500 })"
    >
      <div class="flex flex-col md:gap-y-5">
        <h6 class="titular-secundario text-orangeTropezon">CARACTERÍSTICAS</h6>
        <h2 class="titular-principal text-white mt-2 md:mb-8">
          VIDA RURAL Y <br />
          CONFORT URBANO
        </h2>
      </div>
    </div>

    <div
      class="tours flex justify-start mt-10"
      data-x-data
      data-x-intersect="anime({ targets: '.tours a', translateY: [100, 0], opacity: [0, 1], delay: anime.stagger(150), duration: 500 ,easing: 'easeOutQuad' })"
    >
      <div class="flex justify-start items-center w-full">
        <p
          class="parrafo text-white max-w-[35ch] sm:max-w-[40ch] md:max-w-[50ch] lg:max-w-[59ch] xl:max-w-[59ch] 2xl:max-w-[65ch] text-left leading-[1.75rem]"
        >
          En el diseño de su urbanización se priorizó el respeto hacia la
          naturaleza integrando de una forma equilibrada el campo y el confort.
          Una arboleda de 30 años de antigüedad distribuye el terreno de 24
          hectáreas en espacios grandes, abiertos y privado.<br
            class="block md:hidden"
          />
          Se pueden adquirir lotes de hasta 1.400 metros cuadrados, espacio
          ideal en el que se permite tener animales domésticos, huerta propia,
          estanques, piletas, espacio de jardinería, plantas frutales y piscina.
          <br />
          <br />
          Posee 7.5 kilómetros de caminos internos con badenes y carpeta de
          rodamiento. El recorrido se destaca por el club house con livings,
          oficina y un gran quincho donde los propietarios realizan sus
          encuentros y disfrutan de un buen asado. El predio cuenta además con
          juegos para niños, cancha de fútbol, de tenis y bochas, que incentivan
          la vida al aire libre.
          <br />
          <br />
          Garantizando el confort de la vida moderna, el complejo cuenta con red
          de energía eléctrica subterránea, gas natural, agua de red, fibra
          óptica, cloacas, alumbrado público, espacios verdes comunes, alambrado
          perimetral, cámaras de seguridad en los accesos y seguridad.
        </p>
      </div>
    </div>

    <div
      class="hidden md:grid grid-cols-1 md:grid-cols-3 pt-16 md:pt-32 gap-y-24"
    >
      <div class="flex flex-col gap-y-10 items-center justify-center">
        <div class="w-[6.5rem] h-full">
          <img
            src="../../../assets/img/traslados.svg"
            alt=""
            class="w-full h-full"
          />
        </div>
        <div class="flex flex-col justify-center items-center gap-y-3">
          <h1 class="titular-grilla">TRASLADO</h1>
          <div>
            <p class="parrafo-grilla">5´ min de San Antonio de Areco</p>
            <p class="parrafo-grilla">30´ min de Pilar</p>
            <p class="parrafo-grilla">60´ min de CABA</p>
          </div>
        </div>
      </div>

      <div class="hidden md:flex flex-col gap-y-10 items-center justify-center">
        <div class="w-[6.5rem] h-full">
          <img
            src="../../../assets/img/espacios.svg"
            alt=""
            class="w-full h-full"
          />
        </div>
        <div class="flex flex-col justify-center items-center gap-y-3">
          <h1 class="titular-grilla mb-5">ESPACIOS</h1>
          <p class="parrafo-grilla">
            126 lotes entre 1.000 y <br />
            2.000 m2
          </p>
        </div>
      </div>

      <div class="hidden md:flex flex-col gap-y-10 items-center justify-center">
        <div class="w-[6.5rem] h-full">
          <img
            src="../../../assets/img/arboleda.svg"
            alt=""
            class="w-full h-full"
          />
        </div>
        <div class="flex flex-col justify-center items-center gap-y-3">
          <h1 class="titular-grilla mb-5">ARBOLEDA</h1>
          <p class="parrafo-grilla">
            Más de 3000 árboles de <br />
            25 años de antiguedad
          </p>
        </div>
      </div>

      <div class="hidden md:flex flex-col gap-y-10 items-center justify-center">
        <div class="w-[6.5rem] h-full">
          <img
            src="../../../assets/img/salon.svg"
            alt=""
            class="w-full h-full"
          />
        </div>
        <div class="flex flex-col justify-center items-center gap-y-3">
          <h1 class="titular-grilla leading-6">
            SALÓN DE USOS <br />
            MULTIPLES
          </h1>
          <p class="parrafo-grilla">
            Podrán desarrollar distintas <br />
            actividades
          </p>
        </div>
      </div>

      <div class="hidden md:flex flex-col gap-y-10 items-center justify-center">
        <div class="w-[6.5rem] h-full">
          <img
            src="../../../assets/img/juegos.svg"
            alt=""
            class="w-full h-full"
          />
        </div>
        <div class="flex flex-col justify-center items-center gap-y-3">
          <h1 class="titular-grilla">
            JUEGOS <br />
            PARA NIÑOS
          </h1>
          <p class="parrafo-grilla">
            Diferentes atracciones para los <br />
            más pequeños
          </p>
        </div>
      </div>

      <div class="hidden md:flex flex-col gap-y-10 items-center justify-center">
        <div class="w-[6.5rem] h-full">
          <img
            src="../../../assets/img/deportes.svg"
            alt=""
            class="w-full h-full"
          />
        </div>
        <div class="flex flex-col justify-center items-center gap-y-3">
          <h1 class="titular-grilla">DEPORTES</h1>
          <p class="parrafo-grilla">
            Contamos con cancha de tenis, <br />
            fútbol y bochas
          </p>
        </div>
      </div>
    </div>
    <!--Swiper mobile-->
    <div class="block md:hidden swiper-container-caracteristicas mt-10">
      <div class="swiper-wrapper">
        <!--1-->
        <div class="swiper-slide">
          <div class="flex flex-col gap-y-5 items-center justify-center">
            <div class="w-[6.5rem] h-full">
              <img
                src="../../../assets/img/traslados.svg"
                alt=""
                class="w-full h-full"
              />
            </div>
            <div class="flex flex-col justify-center items-center gap-y-3">
              <h1 class="titular-grilla">TRASLADO</h1>
              <div>
                <p class="parrafo-grilla">5´ min de San Antonio de Areco</p>
                <p class="parrafo-grilla">30´ min de Pilar</p>
                <p class="parrafo-grilla">60´ min de CABA</p>
              </div>
            </div>
          </div>
        </div>
        <!--2-->
        <div class="swiper-slide">
          <div class="flex flex-col gap-y-5 items-center justify-center">
            <div class="w-[6.5rem] h-full">
              <img
                src="../../../assets/img/espacios.svg"
                alt=""
                class="w-full h-full"
              />
            </div>
            <div class="flex flex-col justify-center items-center gap-y-3">
              <h1 class="titular-grilla">ESPACIOS</h1>
              <p class="parrafo-grilla">
                126 lotes entre 1.000 y <br />
                2.000 m2
              </p>
            </div>
          </div>
        </div>
        <!--3-->
        <div class="swiper-slide">
          <div class="flex flex-col gap-y-5 items-center justify-center">
            <div class="w-[8.2rem] h-full">
              <img
                src="../../../assets/img/arboleda.svg"
                alt=""
                class="w-full h-full"
              />
            </div>
            <div class="flex flex-col justify-center items-center gap-y-3">
              <h1 class="titular-grilla">ARBOLEDA</h1>
              <p class="parrafo-grilla">
                Más de 3000 árboles de <br />
                25 años de antiguedad
              </p>
            </div>
          </div>
        </div>
        <!--4-->
        <div class="swiper-slide">
          <div class="flex flex-col gap-y-5 items-center justify-center">
            <div class="w-[6rem] h-full">
              <img
                src="../../../assets/img/salon.svg"
                alt=""
                class="w-full h-full"
              />
            </div>
            <div class="flex flex-col justify-center items-center gap-y-3">
              <h1 class="titular-grilla leading-6">
                SALÓN DE USOS <br />
                MULTIPLES
              </h1>
              <p class="parrafo-grilla">
                Podrán desarrollar distintas <br />
                actividades
              </p>
            </div>
          </div>
        </div>
        <!--5-->
        <div class="swiper-slide">
          <div class="flex flex-col gap-y-5 items-center justify-center">
            <div class="w-[6.5rem] h-full">
              <img
                src="../../../assets/img/juegos.svg"
                alt=""
                class="w-full h-full"
              />
            </div>
            <div class="flex flex-col justify-center items-center gap-y-3">
              <h1 class="titular-grilla">
                JUEGOS <br />
                PARA NIÑOS
              </h1>
              <p class="parrafo-grilla">
                Diferentes atracciones para los <br />
                más pequeños
              </p>
            </div>
          </div>
        </div>
        <!--6-->
        <div class="swiper-slide">
          <div class="flex flex-col gap-y-5 items-center justify-center">
            <div class="w-[7rem] h-full">
              <img
                src="../../../assets/img/deportes.svg"
                alt=""
                class="w-full h-full"
              />
            </div>
            <div class="flex flex-col justify-center items-center gap-y-3">
              <h1 class="titular-grilla">DEPORTES</h1>
              <p class="parrafo-grilla">
                Contamos con cancha de tenis, <br />
                fútbol y bochas
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <!--Swiper mobile-->
  </div>
</section>

<div class="bg-orangeTropezon py-[1.5rem] shadow-2xl">
  <div class="container">
    <h1
      class="pt-5 pb-5 text-base sm:text-[1.2rem] md:text-[1.381rem] font-hoeflerText tracking-[0.2em] text-blueTropezon"
    >
      MÁS <br />
      SERVICIOS
    </h1>

    <!--Grilla desk-->
    <div class="xl:pl-24">
      <div
        class="hidden md:grid md:grid-cols-5 pb-4 text-[0.75rem] xl:text-[0.92rem] font-tradeGothicLtBold text-blueTropezon"
      >
        <div class="flex items-center justify-start gap-x-2 w-full">
          <img
            src="../../../assets/img/separador.svg"
            alt=""
            class="h-[12%] w-[12%]"
          />
          <p>Red de energía eléctrica</p>
        </div>
        <div class="flex items-center justify-start gap-x-2 w-full pl-8">
          <img
            src="../../../assets/img/separador.svg"
            alt=""
            class="h-[12%] w-[12%]"
          />
          <p>Gas natural</p>
        </div>
        <div class="flex items-center justify-start gap-x-2 w-full">
          <img
            src="../../../assets/img/separador.svg"
            alt=""
            class="h-[12%] w-[12%]"
          />
          <p>Agua de red</p>
        </div>
        <div class="flex items-center justify-start gap-x-2 w-full">
          <img
            src="../../../assets/img/separador.svg"
            alt=""
            class="h-[12%] w-[12%]"
          />
          <p>Fibra óptica</p>
        </div>
        <div class="flex items-center justify-start gap-x-2 w-full">
          <img
            src="../../../assets/img/separador.svg"
            alt=""
            class="h-[12%] w-[12%]"
          />
          <p>Cloacas</p>
        </div>
      </div>
      <div
        class="hidden md:grid grid-cols-5 pb-4 text-[0.75rem] xl:text-[0.92rem] font-tradeGothicLtBold text-blueTropezon"
      >
        <div class="flex items-center justify-start gap-x-2 w-full">
          <img
            src="../../../assets/img/separador.svg"
            alt=""
            class="h-[12%] w-[12%]"
          />
          <p>
            Seguridad por <br class="block lg:hidden" />
            cámara
          </p>
        </div>
        <div class="flex items-center justify-start gap-x-2 w-full pl-8">
          <img
            src="../../../assets/img/separador.svg"
            alt=""
            class="h-[12%] w-[12%]"
          />
          <p>Club house</p>
        </div>
        <div class="flex items-center justify-start gap-x-2 w-full">
          <img
            src="../../../assets/img/separador.svg"
            alt=""
            class="h-[12%] w-[12%]"
          />
          <p>Personal de vigilancia</p>
        </div>
        <div class="flex items-center justify-start gap-x-2 w-full">
          <img
            src="../../../assets/img/separador.svg"
            alt=""
            class="h-[12%] w-[12%]"
          />
          <p>Espacios verdes comunes</p>
        </div>
      </div>
    </div>
    <!--Grilla desk-->

    <!--Grilla mob-->
    <div
      class="flex md:hidden flex-col justify-center items-center container font-tradeGothicLtBold"
    >
      <div class="flex justify-start items-center w-60 gap-x-3">
        <hr class="border-t border-blueTropezon w-[2rem]" />
        <span class="text-[0.832rem] sm:text-base"
          >Red de energía eléctrica</span
        >
      </div>

      <div class="flex justify-start items-center w-60 gap-x-3">
        <hr class="border-t border-blueTropezon w-[2rem]" />
        <span class="text-[0.832rem] sm:text-base">Gas natural</span>
      </div>

      <div class="flex justify-start items-center w-60 gap-x-3">
        <hr class="border-t border-blueTropezon w-[2rem]" />
        <span class="text-[0.832rem] sm:text-base">Agua de red</span>
      </div>

      <div class="flex justify-start items-center w-60 gap-x-3">
        <hr class="border-t border-blueTropezon w-[2rem]" />
        <span class="text-[0.832rem] sm:text-base">Fibra óptica</span>
      </div>

      <div class="flex justify-start items-center w-60 gap-x-3">
        <hr class="border-t border-blueTropezon w-[2rem]" />
        <span class="text-[0.832rem] sm:text-base">Cloacas</span>
      </div>

      <div class="flex justify-start items-center w-60 gap-x-3">
        <hr class="border-t border-blueTropezon w-[2rem]" />
        <span class="text-[0.832rem] sm:text-base">Seguridad por cámara</span>
      </div>

      <div class="flex justify-start items-center w-60 gap-x-3">
        <hr class="border-t border-blueTropezon w-[2rem]" />
        <span class="text-[0.832rem] sm:text-base">Club house</span>
      </div>

      <div class="flex justify-start items-center w-60 gap-x-3">
        <hr class="border-t border-blueTropezon w-[2rem]" />
        <span class="text-[0.832rem] sm:text-base">
          Personal de vigilancia</span
        >
      </div>

      <div class="flex justify-start items-center w-60 gap-x-3">
        <hr class="border-t border-blueTropezon w-[2rem]" />
        <span class="text-[0.832rem] sm:text-base"
          >Espacios verdes comunes</span
        >
      </div>
    </div>
    <!--Grilla mob-->
  </div>
</div>
