<section
  class="py-14 md:pt-[2.5rem] md:pb-[4.5rem] shadow-2xl relative md:overflow-hidden bg-blueTropezon"
  style="
    background-image: url('../../../assets/img/trama-caract-01.png');
    background-size: cover;
  "
>
  <!--INDICE-->
  <div
    class="absolute left-[-3.5rem] top-[39rem] flex-col items-center gap-y-28 hidden md:flex"
  >
    <h1
      class="-rotate-90 text-[0.88rem] font-hoeflerText text-orangeTropezon tracking-widest"
    >
      <i> Services and benefits</i>
    </h1>
    <div class="border-l-[0.03px] border-orangeTropezon h-52"></div>
  </div>
  <!--INDICE-->

  <div class="container overflow-x-hidden md:overflow-x-auto">
    <div
      class="lg:flex justify-between items-center relative"
      data-x-data
      data-x-ref="popularToursTitle"
      data-x-intersect="anime({ targets: $refs.popularToursTitle, translateY: [100, 0], opacity: [0 , 1], easing: 'linear', duration: 500 })"
    >
      <div class="flex flex-col md:gap-y-5">
        <h6 class="titular-secundario text-orangeTropezon">FEATURES</h6>
        <h2 class="titular-principal text-white mt-2 md:mb-8">
          RURAL LIFE AND <br />
          URBAN CONFORT
        </h2>
      </div>
    </div>

    <div
      class="tours flex justify-start mt-10"
      data-x-data
      data-x-intersect="anime({ targets: '.tours a', translateY: [100, 0], opacity: [0, 1], delay: anime.stagger(150), duration: 500 ,easing: 'easeOutQuad' })"
    >
      <div class="flex justify-start items-center w-full">
        <p
          class="parrafo text-white max-w-[35ch] sm:max-w-[40ch] md:max-w-[50ch] lg:max-w-[59ch] xl:max-w-[59ch] 2xl:max-w-[65ch] text-left leading-[1.75rem]"
        >
          In the urbanisation design, the priority was to respect nature by
          integrating the countryside and comfort in a balanced way. A
          30-year-old grove divides the 24-hectare land into large, open,
          private spaces.<br class="block md:hidden" />
          Lots of up to 1,400 square metres are available, providing an ideal
          space for pets, your own vegetable garden, ponds, swimming pools,
          gardening areas, fruit trees and a pool.
          <br />
          <br />
          The complex features 7.5 kilometres of internal roads with speed bumps
          and a smooth surface. The grounds stand out for the clubhouse with
          lounges, an office, and a large barbecue area where owners can get
          together and enjoy a good barbecue. The premises also include
          playgrounds for children, a soccer field, tennis courts, and bowls
          lawns, encouraging outdoor activities.
          <br />
          <br />
          Ensuring the comfort of modern life, the complex has underground power
          lines, natural gas, main water supply, optic fibre internet, sewage
          system, public lighting, communal green spaces, perimeter fencing,
          security cameras at the entrances and overall security measures.
        </p>
      </div>
    </div>

    <div
      class="hidden md:grid grid-cols-1 md:grid-cols-3 pt-16 md:pt-32 gap-y-24"
    >
      <div class="flex flex-col gap-y-10 items-center justify-center">
        <div class="w-[6.5rem] h-full">
          <img
            src="../../../assets/img/traslados.svg"
            alt=""
            class="w-full h-full"
          />
        </div>
        <div class="flex flex-col justify-center items-center gap-y-3">
          <h1 class="titular-grilla">TRANSPORTATION</h1>
          <div>
            <p class="parrafo-grilla">5´ minutes from San Antonio de Areco</p>
            <p class="parrafo-grilla">30´ minutes from Pilar</p>
            <p class="parrafo-grilla">
              60´ minutes from the City of Buenos Aires
            </p>
          </div>
        </div>
      </div>

      <div class="hidden md:flex flex-col gap-y-10 items-center justify-center">
        <div class="w-[6.5rem] h-full">
          <img
            src="../../../assets/img/espacios.svg"
            alt=""
            class="w-full h-full"
          />
        </div>
        <div class="flex flex-col justify-center items-center gap-y-3">
          <h1 class="titular-grilla mb-5">SPACES</h1>
          <p class="parrafo-grilla">
            126 lots ranging from 1,000 <br />
            to 2,000 sqm
          </p>
        </div>
      </div>

      <div class="hidden md:flex flex-col gap-y-10 items-center justify-center">
        <div class="w-[6.5rem] h-full">
          <img
            src="../../../assets/img/arboleda.svg"
            alt=""
            class="w-full h-full"
          />
        </div>
        <div class="flex flex-col justify-center items-center gap-y-3">
          <h1 class="titular-grilla mb-5">GROVE</h1>
          <p class="parrafo-grilla">
            Over 3,000 trees of <br />
            25 years of age
          </p>
        </div>
      </div>

      <div class="hidden md:flex flex-col gap-y-10 items-center justify-center">
        <div class="w-[6.5rem] h-full">
          <img
            src="../../../assets/img/salon.svg"
            alt=""
            class="w-full h-full"
          />
        </div>
        <div class="flex flex-col justify-center items-center gap-y-3">
          <h1 class="titular-grilla leading-6">
            MULTIPURPOSE <br />
            SALON
          </h1>
          <p class="parrafo-grilla">
            Available for various <br />
            activities
          </p>
        </div>
      </div>

      <div class="hidden md:flex flex-col gap-y-10 items-center justify-center">
        <div class="w-[6.5rem] h-full">
          <img
            src="../../../assets/img/juegos.svg"
            alt=""
            class="w-full h-full"
          />
        </div>
        <div class="flex flex-col justify-center items-center gap-y-3">
          <h1 class="titular-grilla">
            CHILDREN'S <br />
            PLAY AREA
          </h1>
          <p class="parrafo-grilla">
            Different attractions for <br />
            the little ones
          </p>
        </div>
      </div>

      <div class="hidden md:flex flex-col gap-y-10 items-center justify-center">
        <div class="w-[6.5rem] h-full">
          <img
            src="../../../assets/img/deportes.svg"
            alt=""
            class="w-full h-full"
          />
        </div>
        <div class="flex flex-col justify-center items-center gap-y-3">
          <h1 class="titular-grilla">SPORTS</h1>
          <p class="parrafo-grilla">
            Tennis courts, a football pitch <br />
            and bowls lawns
          </p>
        </div>
      </div>
    </div>
    <!--Swiper mobile-->
    <div class="block md:hidden swiper-container-caracteristicas mt-10">
      <div class="swiper-wrapper">
        <!--1-->
        <div class="swiper-slide">
          <div class="flex flex-col gap-y-5 items-center justify-center">
            <div class="w-[6.5rem] h-full">
              <img
                src="../../../assets/img/traslados.svg"
                alt=""
                class="w-full h-full"
              />
            </div>
            <div class="flex flex-col justify-center items-center gap-y-3">
              <h1 class="titular-grilla">TRANSPORTATION</h1>
              <div>
                <p class="parrafo-grilla">
                  5´ minutes from San Antonio de Areco
                </p>
                <p class="parrafo-grilla">30´ minutes from Pilar</p>
                <p class="parrafo-grilla">
                  60´ minutes from the City of Buenos Aires
                </p>
              </div>
            </div>
          </div>
        </div>
        <!--2-->
        <div class="swiper-slide">
          <div class="flex flex-col gap-y-5 items-center justify-center">
            <div class="w-[6.5rem] h-full">
              <img
                src="../../../assets/img/espacios.svg"
                alt=""
                class="w-full h-full"
              />
            </div>
            <div class="flex flex-col justify-center items-center gap-y-3">
              <h1 class="titular-grilla">SPACES</h1>
              <p class="parrafo-grilla">
                126 lots ranging from 1,000 <br />
                to 2,000 sqm
              </p>
            </div>
          </div>
        </div>
        <!--3-->
        <div class="swiper-slide">
          <div class="flex flex-col gap-y-5 items-center justify-center">
            <div class="w-[8.2rem] h-full">
              <img
                src="../../../assets/img/arboleda.svg"
                alt=""
                class="w-full h-full"
              />
            </div>
            <div class="flex flex-col justify-center items-center gap-y-3">
              <h1 class="titular-grilla">GROVE</h1>
              <p class="parrafo-grilla">
                Over 3,000 trees of <br />
                25 years of age
              </p>
            </div>
          </div>
        </div>
        <!--4-->
        <div class="swiper-slide">
          <div class="flex flex-col gap-y-5 items-center justify-center">
            <div class="w-[6rem] h-full">
              <img
                src="../../../assets/img/salon.svg"
                alt=""
                class="w-full h-full"
              />
            </div>
            <div class="flex flex-col justify-center items-center gap-y-3">
              <h1 class="titular-grilla leading-6">
                MULTIPURPOSE <br />
                SALON
              </h1>
              <p class="parrafo-grilla">
                Available for various <br />
                activities
              </p>
            </div>
          </div>
        </div>
        <!--5-->
        <div class="swiper-slide">
          <div class="flex flex-col gap-y-5 items-center justify-center">
            <div class="w-[6.5rem] h-full">
              <img
                src="../../../assets/img/juegos.svg"
                alt=""
                class="w-full h-full"
              />
            </div>
            <div class="flex flex-col justify-center items-center gap-y-3">
              <h1 class="titular-grilla">
                CHILDREN'S <br />
                PLAY AREA
              </h1>
              <p class="parrafo-grilla">
                Different attractions for <br />
                the little ones
              </p>
            </div>
          </div>
        </div>
        <!--6-->
        <div class="swiper-slide">
          <div class="flex flex-col gap-y-5 items-center justify-center">
            <div class="w-[7rem] h-full">
              <img
                src="../../../assets/img/deportes.svg"
                alt=""
                class="w-full h-full"
              />
            </div>
            <div class="flex flex-col justify-center items-center gap-y-3">
              <h1 class="titular-grilla">SPORTS</h1>
              <p class="parrafo-grilla">
                Tennis courts, a football pitch <br />
                and bowls lawns
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <!--Swiper mobile-->
  </div>
</section>

<div class="bg-orangeTropezon py-[1.5rem] shadow-2xl">
  <div class="container">
    <h1
      class="pt-5 pb-5 text-base sm:text-[1.2rem] md:text-[1.381rem] font-hoeflerText tracking-[0.2em] text-blueTropezon"
    >
      ADDITIONAL <br />
      SERVICES
    </h1>

    <!--Grilla desk-->
    <div class="xl:pl-24">
      <div
        class="hidden md:grid md:grid-cols-5 pb-4 text-[0.75rem] xl:text-[0.92rem] font-tradeGothicLtBold text-blueTropezon"
      >
        <div class="flex items-center justify-start gap-x-2 w-full">
          <img
            src="../../../assets/img/separador.svg"
            alt=""
            class="h-[12%] w-[12%]"
          />
          <p>Electric power grid</p>
        </div>
        <div class="flex items-center justify-start gap-x-2 w-full pl-8">
          <img
            src="../../../assets/img/separador.svg"
            alt=""
            class="h-[12%] w-[12%]"
          />
          <p>Natural gas</p>
        </div>
        <div class="flex items-center justify-start gap-x-2 w-full">
          <img
            src="../../../assets/img/separador.svg"
            alt=""
            class="h-[12%] w-[12%]"
          />
          <p>Mains water supply</p>
        </div>
        <div class="flex items-center justify-start gap-x-2 w-full">
          <img
            src="../../../assets/img/separador.svg"
            alt=""
            class="h-[12%] w-[12%]"
          />
          <p>Opitic fibre internet</p>
        </div>
        <div class="flex items-center justify-start gap-x-2 w-full">
          <img
            src="../../../assets/img/separador.svg"
            alt=""
            class="h-[12%] w-[12%]"
          />
          <p>Sewage system</p>
        </div>
      </div>
      <div
        class="hidden md:grid grid-cols-5 pb-4 text-[0.75rem] xl:text-[0.85rem] 2xl:text-[0.92rem] font-tradeGothicLtBold text-blueTropezon"
      >
        <div class="flex items-center justify-start gap-x-2 w-full">
          <img
            src="../../../assets/img/separador.svg"
            alt=""
            class="h-[12%] w-[12%]"
          />
          <p>
            Camera surveillance <br class="block lg:hidden" />
            security
          </p>
        </div>
        <div class="flex items-center justify-start gap-x-2 w-full pl-8">
          <img
            src="../../../assets/img/separador.svg"
            alt=""
            class="h-[12%] w-[12%]"
          />
          <p>Clubhouse</p>
        </div>
        <div class="flex items-center justify-start gap-x-2 w-full">
          <img
            src="../../../assets/img/separador.svg"
            alt=""
            class="h-[12%] w-[12%]"
          />
          <p>Security personnel</p>
        </div>
        <div class="flex items-center justify-start gap-x-2 w-full">
          <img
            src="../../../assets/img/separador.svg"
            alt=""
            class="h-[12%] w-[12%]"
          />
          <p>Common green spaces</p>
        </div>
      </div>
    </div>
    <!--Grilla desk-->

    <!--Grilla mob-->
    <div
      class="flex md:hidden flex-col justify-center items-center container font-tradeGothicLtBold"
    >
      <div class="flex justify-start items-center w-60 gap-x-3">
        <hr class="border-t border-blueTropezon w-[2rem]" />
        <span class="text-[0.832rem] sm:text-base">Electric power grid </span>
      </div>

      <div class="flex justify-start items-center w-60 gap-x-3">
        <hr class="border-t border-blueTropezon w-[2rem]" />
        <span class="text-[0.832rem] sm:text-base">Natural gas </span>
      </div>

      <div class="flex justify-start items-center w-60 gap-x-3">
        <hr class="border-t border-blueTropezon w-[2rem]" />
        <span class="text-[0.832rem] sm:text-base">Mains water supply</span>
      </div>

      <div class="flex justify-start items-center w-60 gap-x-3">
        <hr class="border-t border-blueTropezon w-[2rem]" />
        <span class="text-[0.832rem] sm:text-base">Opitic fibre internet</span>
      </div>

      <div class="flex justify-start items-center w-60 gap-x-3">
        <hr class="border-t border-blueTropezon w-[2rem]" />
        <span class="text-[0.832rem] sm:text-base">Sewage system</span>
      </div>

      <div class="flex justify-start items-center w-60 gap-x-3">
        <hr class="border-t border-blueTropezon w-[2rem]" />
        <span class="text-[0.832rem] sm:text-base"
          >Camera surveillance security</span
        >
      </div>

      <div class="flex justify-start items-center w-60 gap-x-3">
        <hr class="border-t border-blueTropezon w-[2rem]" />
        <span class="text-[0.832rem] sm:text-base">Clubhouse</span>
      </div>

      <div class="flex justify-start items-center w-60 gap-x-3">
        <hr class="border-t border-blueTropezon w-[2rem]" />
        <span class="text-[0.832rem] sm:text-base"> Security personnel</span>
      </div>

      <div class="flex justify-start items-center w-60 gap-x-3">
        <hr class="border-t border-blueTropezon w-[2rem]" />
        <span class="text-[0.832rem] sm:text-base">Common green spaces</span>
      </div>
    </div>
    <!--Grilla mob-->
  </div>
</div>
