<section
  class="py-14 md:h-[30rem] lg:py-0 lg:h-[33rem] 2xl:h-screen relative flex items-center justify-center"
>
  <div class="absolute right-0 top-0 hidden md:block">
    <img
      src="../../../assets/img/ninos3opacidad.png"
      alt=""
      class="w-[25rem] lg:w-[35rem] xl:w-[37rem] 2xl:w-auto"
    />
  </div>
  <div class="container">
    <div class="flex justify-between items-center pb-10 md:pb-0">
      <div
        class="hero-title text-left flex flex-col justify-center items-center gap-y-32"
        data-x-data
        data-x-ref="popularToursTitle"
        data-x-intersect="anime({ targets: $refs.popularToursTitle, translateY: [100, 0], opacity: [0 , 1], easing: 'linear', duration: 500 })"
      >
        <h1
          class="titular-principal text-orangeTropezon md:max-w-3xl mx-auto uppercase"
        >
          Get to know <br class="" />
          El Tropezón <br />
          de Areco
        </h1>
      </div>
    </div>
    <div class="bg-gray-900">
      <img
        src="../../../assets/img/nino-mobile-opacidad.png"
        alt=""
        class="block md:hidden bg-red-300 w-full h-[21rem] object-cover"
      />
    </div>
  </div>
</section>
