<section
  class="bg-blueTropezon py-14 md:py-[5 rem] relative md:overflow-hidden"
>
  <!--INDICE-->
  <div
    class="absolute left-[-2rem] top-[12rem] hidden md:flex flex-col items-center gap-y-16"
  >
    <h1
      class="-rotate-90 text-[0.88rem] font-hoeflerText text-orangeTropezon tracking-widest"
    >
      <i>Quiénes somos</i>
    </h1>
    <div class="border-l-[0.03px] border-orangeTropezon h-44"></div>
  </div>
  <!--INDICE-->

  <div class="container">
    <div
      class="lg:flex justify-between items-center relative"
      data-x-data
      data-x-ref="popularToursTitle"
      data-x-intersect="anime({ targets: $refs.popularToursTitle, translateY: [100, 0], opacity: [0 , 1], easing: 'linear', duration: 500 })"
    >
      <div class="">
        <h6 class="titular-principal text-orangeTropezon">
          EL TROPEZÓN: <br />
          UN LUGAR CON <br class="block sm:hidden md:block" />
          HISTORIA
        </h6>
      </div>
    </div>

    <div
      class="tours flex justify-start mt-10"
      data-x-data
      data-x-intersect="anime({ targets: '.tours a', translateY: [100, 0], opacity: [0, 1], delay: anime.stagger(150), duration: 500 ,easing: 'easeOutQuad' })"
    >
      <div class="flex md:hidden parrafo text-white">
        <p class="pr-5">
          Juan Cruz y Tomas Talia son los directores ejecutivos de Cia Brokers
          Talia SA, desarrolladora de este proyecto. Ambos residiendo en Estados
          Unidos en este momento, son desarrolladores inmobiliarios con
          experiencia de 15 años fundamentalmente en los mercados de Argentina y
          USA. Decidimos hacer este proyecto por el amor que teníamos a la
          propiedad, que era de la familia hace muchísimos años y donde pasamos
          gran parte de nuestra infancia y adolescencia. Al mismo tiempo San
          Antonio de Areco es nuestro lugar en el mundo. Aca tenemos nuestros
          amigos, aca vivimos durante muchos años y a aca volveremos siempre.
          Ambos tenemos gran vinculo con el costumbrismo y la cultura ecuestre.
          Somos Correntinos, de nacimiento, hemos vivido mucho en el campo y San
          Antonio de Areco es la cuna de todo esto que tanto amamos”
          <br />
          <br />
          A nivel real estate, Areco reúnele las condiciones que todo
          desarrollador busca. Se encuentra a 30 min de Pilar y 1 hora de BA,
          siendo el principio de la zona nublo agro industrial, indiscutido
          motor del país. El Tropezón es sin duda nuestro desarrollo preferido.
          Lo vivimos y respiramos todos los dias. Es nuestra casa. Nuestro padre
          planto los arboles hace mas de 30 años, nosotros crecimos ahi y es el
          lugar que le deseamos a nuestros hijos. Como dijimos antes es el
          sector mas cercano a BA dentro de la zona núcleo del país, el sector
          agro industrial es el verdadero motor de la economía Argentina y Areco
          es el lugar de residencia preferido por el sector.
        </p>
      </div>
      <div
        class="justify-start items-start gap-x-10 xl:gap-x-20 hidden md:flex"
      >
        <p class="parrafo text-white text-left">
          Juan Cruz y Tomas Talia son los directores ejecutivos de Cia Brokers
          Talia SA, desarrolladora de este proyecto. Ambos residiendo en Estados
          Unidos en este momento, son desarrolladores inmobiliarios con
          experiencia de 15 años fundamentalmente en los mercados de Argentina y
          USA. Decidimos hacer este proyecto por el amor que teníamos a la
          propiedad, que era de la familia hace muchísimos años y donde pasamos
          gran parte de nuestra infancia y adolescencia. Al mismo tiempo San
          Antonio de Areco es nuestro lugar en el mundo. Aca tenemos nuestros
          amigos, aca vivimos durante muchos años y a aca volveremos siempre.
          Ambos tenemos gran vinculo con el costumbrismo y la cultura ecuestre.
          Somos Correntinos, de nacimiento, hemos vivido mucho en el campo y San
          Antonio de Areco es la cuna de todo esto que tanto amamos”
        </p>
        <p class="parrafo text-white text-left">
          A nivel real estate, Areco reúnele las condiciones que todo
          desarrollador busca. Se encuentra a 30 min de Pilar y 1 hora de BA,
          siendo el principio de la zona nublo agro industrial, indiscutido
          motor del país. El Tropezón es sin duda nuestro desarrollo preferido.
          Lo vivimos y respiramos todos los dias. Es nuestra casa. Nuestro padre
          planto los arboles hace mas de 30 años, nosotros crecimos ahi y es el
          lugar que le deseamos a nuestros hijos. Como dijimos antes es el
          sector mas cercano a BA dentro de la zona núcleo del país, el sector
          agro industrial es el verdadero motor de la economía Argentina y Areco
          es el lugar de residencia preferido por el sector.
        </p>
      </div>
    </div>
  </div>
</section>
