<section
  class="bg-blueTropezon py-14 md:py-[5 rem] relative md:overflow-hidden"
>
  <!--INDICE-->
  <div
    class="absolute left-[-1rem] top-[12rem] hidden md:flex flex-col items-center gap-y-16"
  >
    <h1
      class="-rotate-90 text-[0.88rem] font-hoeflerText text-orangeTropezon tracking-widest"
    >
      <i>About us</i>
    </h1>
    <div class="border-l-[0.03px] border-orangeTropezon h-44"></div>
  </div>
  <!--INDICE-->

  <div class="container">
    <div
      class="lg:flex justify-between items-center relative"
      data-x-data
      data-x-ref="popularToursTitle"
      data-x-intersect="anime({ targets: $refs.popularToursTitle, translateY: [100, 0], opacity: [0 , 1], easing: 'linear', duration: 500 })"
    >
      <div class="">
        <h6 class="titular-principal text-orangeTropezon uppercase">
          EL TROPEZÓN: <br />
          a place with <br class="block sm:hidden md:block" />
          history
        </h6>
      </div>
    </div>

    <div
      class="tours flex justify-start mt-10"
      data-x-data
      data-x-intersect="anime({ targets: '.tours a', translateY: [100, 0], opacity: [0, 1], delay: anime.stagger(150), duration: 500 ,easing: 'easeOutQuad' })"
    >
      <div class="flex md:hidden parrafo text-white">
        <p class="pr-5">
          Juan Cruz and Tomas Talia are the executive directors of Cia Brokers
          Talia SA, the developer of this project. Both are currently residing
          in the United States, they are real estate developers with 15 years of
          experience primarily in the markets of Argentina and the USA. "We
          decided to undertake this project out of love for the property which
          has been in the family for many years and where we spent a large part
          of our childhood and adolescence. At the same time, San Antonio de
          Areco is our place in the world. Here we have our friends, here we
          lived for many years, and here we will always return. We both have a
          strong connection to customs and the equestrian culture. We are
          originally from Corrientes and we have spent a lot of time in the
          countryside. San Antonio de Areco is the birthplace of everything we
          love so much.
          <br />
          <br />
          In terms of real estate, Areco has the conditions that every developer
          seeks. It is located 30 minutes from Pilar and 1 hour from Buenos
          Aires, at the beginning of the highly productive
          agricultural-industrial region, an undisputed driving force in the
          country. El Tropezón is undoubtedly our favourite development. We live
          and breathe it every day. It is our home. Our father planted the trees
          there over 30 years ago, we grew up there and it is the place we wish
          for our children. As we mentioned before, it is the closest area to
          Buenos Aires within the core region of the country. The
          agricultural-industrial sector is the true driving force of the
          Argentine economy, and Areco is the preferred place of residence for
          this sector."
        </p>
      </div>
      <div
        class="justify-start items-start gap-x-10 xl:gap-x-20 hidden md:flex"
      >
        <p class="parrafo text-white text-left">
          Juan Cruz and Tomas Talia are the executive directors of Cia Brokers
          Talia SA, the developer of this project. Both are currently residing
          in the United States, they are real estate developers with 15 years of
          experience primarily in the markets of Argentina and the USA. "We
          decided to undertake this project out of love for the property which
          has been in the family for many years and where we spent a large part
          of our childhood and adolescence. At the same time, San Antonio de
          Areco is our place in the world. Here we have our friends, here we
          lived for many years, and here we will always return. We both have a
          strong connection to customs and the equestrian culture. We are
          originally from Corrientes and we have spent a lot of time in the
          countryside. San Antonio de Areco is the birthplace of everything we
          love so much.
        </p>
        <p class="parrafo text-white text-left">
          In terms of real estate, Areco has the conditions that every developer
          seeks. It is located 30 minutes from Pilar and 1 hour from Buenos
          Aires, at the beginning of the highly productive
          agricultural-industrial region, an undisputed driving force in the
          country. El Tropezón is undoubtedly our favourite development. We live
          and breathe it every day. It is our home. Our father planted the trees
          there over 30 years ago, we grew up there and it is the place we wish
          for our children. As we mentioned before, it is the closest area to
          Buenos Aires within the core region of the country. The
          agricultural-industrial sector is the true driving force of the
          Argentine economy, and Areco is the preferred place of residence for
          this sector."
        </p>
      </div>
    </div>
  </div>
</section>
