<section class="shadow-2xl relative md:overflow-hidden">
  <!--1-->
  <div class="bg-white py-14 md:py-20 xl:py-36 2xl:py-44">
    <div class="container">
      <div
        class="flex flex-col gap-y-5 md:flex-row gap-x-10"
        data-x-data
        data-x-ref="popularToursTitle"
        data-x-intersect="anime({ targets: $refs.popularToursTitle, translateY: [100, 0], opacity: [0 , 1], easing: 'linear', duration: 500 })"
      >
        <div class="w-full lg:w-1/2 flex flex-col gap-y-5 md:gap-y-9">
          <div class="flex w-full md:w-auto">
            <h2 class="text-orangeTropezon titular-principal">
              PODA ANUAL <br />
              DE JAZMINES
            </h2>
          </div>

          <div class="">
            <p class="parrafo text-blueTropezon lg:pr-10">
              Anualmente realizamos un evento abierto a propietarios, amigos y
              familiares para podar nuestro más de 2.000 jazmines del cabo que
              junto con 6.000 árboles y arbustos de más de 400 especies componen
              la arboleda del Tropezón. <br />
              Una oportunidad única para conocer y conectar con los vecinos del
              barrio mientras compartimos una velada con música, comida
              tradicional, información relevante y mucha naturaleza.
            </p>
          </div>
        </div>
        <div class="w-full lg:w-1/2">
          <div
            id="bg-video-poda"
            class="w-full md:h-[20rem] relative flex justify-center items-center"
          >
            <img
              src="../../../assets/img/jazmin3.jpg"
              alt=""
              class="h-[16rem] sm:h-[20rem] md:h-full w-full object-cover"
            />
            <a href="#" id="play-button-poda" class="absolute">
              <img
                src="../../../assets/img/btn-play.png"
                alt=""
                class="hover:scale-125 transition ease-in-out duration-300"
              />
            </a>
          </div>
          <div class="hidden" id="video-poda">
            <iframe
              class="h-[16rem] sm:h-[20rem] w-full object-cover"
              src="https://www.youtube.com/embed/LOQHcEQOCdg"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--2-->
  <div
    class="bg-blueTropezon py-14 md:py-20 xl:py-36 2xl:py-44"
    id="recitales-caseari"
  >
    <div class="container">
      <div
        class="flex flex-col gap-y-5 md:flex-row-reverse gap-x-10"
        data-x-data
        data-x-ref="popularToursTitle"
        data-x-intersect="anime({ targets: $refs.popularToursTitle, translateY: [100, 0], opacity: [0 , 1], easing: 'linear', duration: 500 })"
      >
        <div class="w-full lg:w-1/2 flex flex-col gap-y-5 md:gap-y-9">
          <div class="flex justify-end w-full md:w-auto">
            <h2 class="text-orangeTropezon titular-principal text-right">
              RECITALES <br />
              DE CUENTOS
            </h2>
          </div>

          <div class="flex flex-col justify-end">
            <span
              class="text-right text-orangeTropezon text-base lg:text-[1.43rem]"
              >HERNÁN CASCIARI</span
            >
            <p class="parrafo text-white text-right">
              Propietario desde 2021 <br />
              Nació en Mercedes, Buenos Aires, en 1971. <br />
              Fundó Editorial Orsai y Orsai Audiovisuales. <br />
              Dirige la revista Orsai (crónica) y Bonsai <br />
              (infantil).
            </p>
          </div>
        </div>
        <div class="w-full lg:w-1/2">
          <div
            id="bg-video-cuentos"
            class="w-full md:h-[20rem] relative flex justify-center items-center"
          >
            <img
              src="../../../assets/img/video-caseari.png"
              alt=""
              class="h-[16rem] sm:h-full w-full object-cover"
            />
            <a href="#" id="play-button-cuentos" class="absolute">
              <img
                src="../../../assets/img/btn-play-orange.png"
                alt=""
                class="hover:scale-125 transition ease-in-out duration-300"
              />
            </a>
          </div>
          <div class="hidden" id="video-cuentos">
            <iframe
              class="h-[16rem] sm:h-[20rem] w-full object-cover"
              src="https://www.youtube.com/embed/6XwbqlZ6qec"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--3-->
  <div class="bg-white py-14 md:py-20 xl:py-36 2xl:py-44">
    <div class="container">
      <div
        class="flex flex-col gap-y-5 md:flex-row gap-x-10"
        data-x-data
        data-x-ref="popularToursTitle"
        data-x-intersect="anime({ targets: $refs.popularToursTitle, translateY: [100, 0], opacity: [0 , 1], easing: 'linear', duration: 500 })"
      >
        <div class="w-full lg:w-1/2 flex flex-col gap-y-5 md:gap-y-9">
          <div class="flex w-full md:w-auto">
            <h2 class="text-blueTropezon titular-principal">CARRUAJES</h2>
          </div>

          <div class="">
            <p
              class="parrafo text-orangeTropezon md:max-w-prose xl:pr-28 xl:max-w-[61ch] 2xl:max-w-[70ch]"
            >
              El Tropezón ha invitado a familiares, amigos e interesados en el
              proyecto a recorrer el barrio en carruajes, brindando la
              oportunidad de sumergirse en la tradición y conocer los encantos
              del lugar en un recorrido único.
            </p>
          </div>
        </div>
        <div class="w-full lg:w-1/2">
          <div
            id="bg-video-carruajes"
            class="w-full md:h-[20rem] relative flex justify-center items-center"
          >
            <img
              src="../../../assets/img/carruajes.png"
              alt=""
              class="h-[16rem] sm:h-full w-full object-cover"
            />
            <a href="" class="absolute"
              ><img
                src="../../../assets/img/btn-play.png"
                alt=""
                class="hover:scale-125 transition ease-in-out duration-300"
            /></a>
          </div>
          <div class="hidden" id="video-carruajes">
            <iframe
              title="vimeo-player"
              src="https://player.vimeo.com/video/296866497?h=5a9315e4eb"
              class="h-[16rem] sm:h-[20rem] w-full object-cover"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--4-->
  <div class="bg-blueTropezon py-14 md:py-20 xl:py-36 2xl:py-44">
    <div class="container">
      <div
        class="flex flex-col gap-y-5 md:flex-row-reverse gap-x-10"
        data-x-data
        data-x-ref="popularToursTitle"
        data-x-intersect="anime({ targets: $refs.popularToursTitle, translateY: [100, 0], opacity: [0 , 1], easing: 'linear', duration: 500 })"
      >
        <div class="w-full lg:w-1/2 flex flex-col gap-y-5 md:gap-y-9">
          <div class="flex justify-end w-full md:w-auto">
            <h2 class="text-white titular-principal text-right">LANZAMIENTO</h2>
          </div>

          <div class="flex flex-col justify-end">
            <p class="parrafo text-orangeTropezon text-right">
              El día del lanzamiento de El Tropezón fue una experiencia
              inolvidable. Los invitados tuvieron la oportunidad de explorar los
              terrenos y conocer los detalles del proyecto. Durante el evento,
              disfrutaron de un exquisito asado, con vino y una guitarreada
              criolla.
            </p>
          </div>
        </div>
        <div class="w-full lg:w-1/2">
          <div
            id="bg-video-lanzamiento"
            class="w-full md:h-[20rem] relative flex justify-center items-center"
          >
            <img
              src="../../../assets/img/herotropezon.jpg"
              alt=""
              class="h-[16rem] sm:h-full w-full object-cover"
            />
            <a href="" class="absolute"
              ><img
                src="../../../assets/img/btn-play-orange.png"
                alt=""
                class="hover:scale-125 transition ease-in-out duration-300"
            /></a>
          </div>
          <div class="hidden" id="video-lanzamiento">
            <iframe
              class="h-[16rem] sm:h-[20rem] w-full object-cover"
              title="vimeo-player"
              src="https://player.vimeo.com/video/296873881?h=8c06fbce25"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
