<section
  class="py-10 md:pt-[2.5rem] md:pb-[4.5rem] shadow-2xl relative md:overflow-hidden bg-white"
>
  <div class="container mx-auto">
    <div class="flex flex-col lg:flex-row justify-between gap-y-10">
      <div class="w-full lg:w-1/2 flex justify-start items-center">
        <div class="lg:pr-10 flex flex-col gap-y-5">
          <h1 class="titular-principal text-orangeTropezon uppercase">
            deportes
          </h1>
          <p class="text-blueTropezon parrafo lg:max-w-[50ch]">
            Para los más deportistas hay motivaciones extras. El entorno
            amigable permite además de caminatas, cabalgatas y otras actividades
            ecuestres tales como polo, clases de equitación, adiestramiento y
            atadas de caballos. Tenis, yoga, golf, rugby y fútbol también
            estarán presentes. Fiel a las tradiciones, en el centro de Areco hay
            canchas de paleta y de bochas donde se practican estos deportes con
            muchísimo entusiasmo.
          </p>
        </div>
      </div>

      <div
        class="w-2/3 mx-auto lg:w-1/3 flex justify-center lg:justify-end items-center relative"
      >
        <img
          src="../../../assets/img/deportes-areco.jpg"
          alt="Imagen 1"
          class="w-full object-cover"
        />
      </div>
    </div>
  </div>
</section>
