<div class="container mx auto relative">
  <div
    class="w-2/3 mx-auto md:w-full flex justify-center lg:justify-end items-center"
  >
    <div
      class="swiper-container-galeria-tropezon py-10 md:py-24 overflow-hidden w-full"
    >
      <div class="swiper-wrapper w-full">
        <!-- Imagen repetida 5 veces -->
        <div class="swiper-slide w-full">
          <img
            src="../../../assets/img/galeria-tropezon-4.jpg"
            alt="Imagen 1"
            class="w-full object-cover"
          />
        </div>

        <div class="swiper-slide">
          <img
            src="../../../assets/img/galeria-tropezon-5.jpg"
            alt="Imagen 3"
            class="w-full object-cover"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="../../../assets/img/galeria-tropezon-6.jpg"
            alt="Imagen 4"
            class="w-full object-cover"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="../../../assets/img/galeria-tropezon-1.png"
            alt="Imagen 5"
            class="w-full object-cover"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="../../../assets/img/galeria-tropezon-2.png"
            alt="Imagen 6"
            class="w-full object-cover"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="../../../assets/img/galeria-tropezon-3.png"
            alt="Imagen 4"
            class="w-full object-cover"
          />
        </div>
      </div>
      <!-- Agrega los botones de navegación -->
      <div class="swiper-button-next absolute right-6 2xl:-right-10"></div>
      <div class="swiper-button-prev absolute left-6 2xl:-left-10"></div>
    </div>
  </div>
</div>
