<section
  class="bg-blueTropezon py-10 md:py-[5 rem] relative md:overflow-hidden"
>
  <div class="container">
    <div
      class="lg:flex justify-between items-center relative"
      data-x-data
      data-x-ref="popularToursTitle"
      data-x-intersect="anime({ targets: $refs.popularToursTitle, translateY: [100, 0], opacity: [0 , 1], easing: 'linear', duration: 500 })"
    >
      <div class="">
        <h6 class="titular-principal text-orangeTropezon uppercase">
          Oferta <br />
          gastronómica
        </h6>
      </div>
    </div>

    <div
      class="tours flex justify-start mt-10 mb-20 lg:mb-40"
      data-x-data
      data-x-intersect="anime({ targets: '.tours a', translateY: [100, 0], opacity: [0, 1], delay: anime.stagger(150), duration: 500 ,easing: 'easeOutQuad' })"
    >
      <div class="flex md:hidden parrafo text-white">
        <p class="parrafo lg:pr-5">
          La oferta gastronómica de San Antonio de Areco ha experimentado un
          crecimiento considerable en los últimos años, con alrededor de 70
          locales que ofrecen una amplia variedad de opciones culinarias, desde
          establecimientos clásicos hasta propuestas más sofisticadas. Destaca
          el reconocido restaurante de Paula Mendez Carrera, junto con otros
          establecimientos que deleitan a los comensales con su excelencia
          gastronómica.
          <br />
          <br />
          <a
            href="https://corazonada.com.ar/"
            target="_blank"
            class="text-orangeTropezon border-b border-orangeTropezon hover:text-white hover:border-white transition ease-in duration-300"
          >
            CORAZONADA</a
          >, es un restaurante que nació en 2021 por la chef Paula Méndez
          Carreras, de la famosa escuela culinaria Le Cordon Bleu, en una casona
          de 1890 en el pueblo. Es un lugar con experiencias conectadas a la
          cocina y los vinos, y donde se trabaja “al ritmo de la naturaleza”.
        </p>
      </div>
      <div
        class="justify-start items-start gap-x-10 xl:gap-x-20 hidden md:flex"
      >
        <p class="parrafo text-white text-left max-w-[60ch]">
          La oferta gastronómica de San Antonio de Areco ha experimentado un
          crecimiento considerable en los últimos años, con alrededor de 70
          locales que ofrecen una amplia variedad de opciones culinarias, desde
          establecimientos clásicos hasta propuestas más sofisticadas. Destaca
          el reconocido restaurante de Paula Mendez Carrera, junto con otros
          establecimientos que deleitan a los comensales con su excelencia
          gastronómica.
        </p>
        <div class="flex flex-col justify-center gap-y-4">
          <p class="text-white parrafo tracking-[0.18em]">
            “La gastronomía no para de crecer, desde el restaurant de Paula
            Carrera hasta el mas pequeño y sencillo de los restaurantes es
            bueno. La industria ecuestre, es uno de las regiones con más
            nacimientos por año de caballos de carreras del mundo.”
          </p>
          <div class="flex flex-col items-start gap-x-4">
            <span
              class="text-orangeTropezon parrafo flex items-center justify-center gap-x-2 tracking-widest"
              ><hr class="border-t border-orangeTropezon w-[2rem]" />
              Oscar Hector Talia,</span
            >
            <span class="text-orangeTropezon parrafo tracking-widest"
              >dueño de El Tropezón de Areco.</span
            >
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col lg:flex-row gap-y-10 lg:gap-y-0 justify-between">
      <div class="w-full lg:w-1/2 flex justify-center items-center">
        <div
          class="border-2 md:border-4 border-orangeTropezon w-full lg:w-10/12"
        >
          <div class="p-2 md:p-5 bg-blueTropezon">
            <div
              class="bg-orangeTropezon flex flex-col justify-center gap-y-4 p-3 md:p-5 xl:px-16 xl:py-7"
            >
              <p class="parrafo text-white text-left">
                <a
                  href="https://corazonada.com.ar/"
                  target="_blank"
                  class="text-blueTropezon border-b border-transparent hover:border-blueTropezon transition ease-in duration-300"
                >
                  CORAZONADA</a
                >, es un restaurante que nació en 2021 por la chef Paula Méndez
                Carreras, de la famosa escuela culinaria Le Cordon Bleu, en una
                casona de 1890 en el pueblo. Es un lugar con experiencias
                conectadas a la cocina y los vinos, y donde se trabaja “al ritmo
                de la naturaleza”.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="w-2/3 mx-auto lg:w-1/3 flex justify-center lg:justify-end items-center relative"
      >
        <div class="swiper-containers-gastronomia-areco overflow-hidden">
          <div class="swiper-wrapper">
            <!-- Imagen repetida 5 veces -->
            <div class="swiper-slide flex justify-end">
              <img
                src="../../../assets/img/corazonada-1.jpg"
                alt="Imagen 1"
                class="w-full object-cover"
              />
            </div>
            <div class="swiper-slide flex justify-end">
              <img
                src="../../../assets/img/corazonada-2.jpg"
                alt="Imagen 2"
                class="w-full object-cover"
              />
            </div>
          </div>
        </div>
        <!-- Agrega los botones de navegación -->
        <div class="swiper-button-next absolute"></div>
        <div class="swiper-button-prev absolute"></div>
      </div>
    </div>
  </div>
</section>
