<section
  class="bg-blueTropezon py-10 md:py-[5 rem] relative md:overflow-hidden"
>
  <div class="container">
    <div
      class="lg:flex justify-between items-center relative"
      data-x-data
      data-x-ref="popularToursTitle"
      data-x-intersect="anime({ targets: $refs.popularToursTitle, translateY: [100, 0], opacity: [0 , 1], easing: 'linear', duration: 500 })"
    >
      <div class="">
        <h6 class="titular-principal text-orangeTropezon uppercase">
          Gastronomic <br />
          offering
        </h6>
      </div>
    </div>

    <div
      class="tours flex justify-start mt-10 mb-20 lg:mb-40"
      data-x-data
      data-x-intersect="anime({ targets: '.tours a', translateY: [100, 0], opacity: [0, 1], delay: anime.stagger(150), duration: 500 ,easing: 'easeOutQuad' })"
    >
      <div class="flex md:hidden parrafo text-white">
        <p class="parrafo lg:pr-5">
          The variety of gastronomic venues in San Antonio de Areco has
          experienced significant growth in recent years with approximately 70
          establishments offering a wide variety of culinary options, ranging
          from classic establishments to more sophisticated proposals. The
          renowned restaurant of Paula Mendez Carrera stands out, along with
          other establishments that delight diners with their gastronomic
          excellence.
          <br />
          <br />
          <a
            href="https://corazonada.com.ar/"
            target="_blank"
            class="text-orangeTropezon border-b border-orangeTropezon hover:text-white hover:border-white transition ease-in duration-300"
          >
            CORAZONADA</a
          >, is a restaurant which was founded in 2021 by chef Paula Méndez
          Carreras, a graduate of the famous culinary school Le Cordon Bleu. It
          is located in a 1890 house in the town. It offers experiences
          connected to cuisine and wines and where they work "in rhythm with
          nature”.
        </p>
      </div>
      <div
        class="justify-start items-start gap-x-10 xl:gap-x-20 hidden md:flex"
      >
        <p class="parrafo text-white text-left max-w-[60ch]">
          The variety of gastronomic venues in San Antonio de Areco has
          experienced significant growth in recent years with approximately 70
          establishments offering a wide variety of culinary options, ranging
          from classic establishments to more sophisticated proposals. The
          renowned restaurant of Paula Mendez Carrera stands out, along with
          other establishments that delight diners with their gastronomic
          excellence.
        </p>
        <div class="flex flex-col justify-center gap-y-4">
          <p class="text-white parrafo tracking-[0.18em]">
            “Gastronomy continues to grow, from Paula Carrera's restaurant to
            the smallest and simplest of restaurants, all are good. The
            equestrian industry is one of the regions with the highest number of
            racehorse births per year in the world.”
          </p>
          <div class="flex flex-col items-start gap-x-4">
            <span
              class="text-orangeTropezon parrafo flex items-center justify-center gap-x-2 tracking-widest"
              ><hr class="border-t border-orangeTropezon w-[2rem]" />
              Oscar Hector Talia,</span
            >
            <span class="text-orangeTropezon parrafo tracking-widest"
              >owner of El Tropezón de Areco.</span
            >
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col lg:flex-row gap-y-10 lg:gap-y-0 justify-between">
      <div class="w-full lg:w-1/2 flex justify-center items-center">
        <div
          class="border-2 md:border-4 border-orangeTropezon w-full lg:w-10/12"
        >
          <div class="p-2 md:p-5 bg-blueTropezon">
            <div
              class="bg-orangeTropezon flex flex-col justify-center gap-y-4 p-3 md:p-5 xl:px-16 xl:py-7"
            >
              <p class="parrafo text-white text-left">
                <a
                  href="https://corazonada.com.ar/"
                  target="_blank"
                  class="text-blueTropezon border-b border-transparent hover:border-blueTropezon transition ease-in duration-300"
                >
                  CORAZONADA</a
                >, is a restaurant which was founded in 2021 by chef Paula
                Méndez Carreras, a graduate of the famous culinary school Le
                Cordon Bleu. It is located in a 1890 house in the town. It
                offers experiences connected to cuisine and wines and where they
                work "in rhythm with nature”.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="w-2/3 mx-auto lg:w-1/3 flex justify-center lg:justify-end items-center relative"
      >
        <div class="swiper-containers-gastronomia-areco overflow-hidden">
          <div class="swiper-wrapper">
            <!-- Imagen repetida 5 veces -->
            <div class="swiper-slide flex justify-end">
              <img
                src="../../../assets/img/corazonada-1.jpg"
                alt="Imagen 1"
                class="w-full object-cover"
              />
            </div>
            <div class="swiper-slide flex justify-end">
              <img
                src="../../../assets/img/corazonada-2.jpg"
                alt="Imagen 2"
                class="w-full object-cover"
              />
            </div>
          </div>
        </div>
        <!-- Agrega los botones de navegación -->
        <div class="swiper-button-next absolute"></div>
        <div class="swiper-button-prev absolute"></div>
      </div>
    </div>
  </div>
</section>
