<section
  class="h-[28rem] md:h-screen 2xl:h-[39rem] bg-cover md:bg-center md:bg-fixed 2xl:bg-bottom text-center hero-quienes-bg"
>
  <div class="container h-full flex justify-center items-start">
    <h1
      data-x-data
      data-x-ref="title"
      data-x-intersect="anime({ targets: $refs.title, translateY: [-50, 0], opacity: [0, 1], easing: 'linear', duration: 1000 })"
      class="titular-hero uppercase pt-36"
    >
      <span class="text-[3rem] sm:text-[3.5rem] lg:text-[5rem] xl:text-[6rem]"
        >Q</span
      >uiénes
      <span class="text-[3rem] sm:text-[3.5rem] lg:text-[5rem] xl:text-[6rem]"
        >s</span
      >omos
    </h1>

    <!--btn fixed desk-->
    <a
      href="#formulario-desk"
      class="hidden md:block fixed bottom-2 z-[45] right-2 md:right-5 border-2 md:border-4 transition ease-in-out duration-300 border-orangeTropezon hover:border-blueTropezon rounded-full bg-orangeTropezon p-1 hover:bg-blueTropezon"
    >
      <img
        src="../../../assets/img/email.svg"
        alt=""
        class="w-4 h-4 md:w-8 md:h-8"
      />
    </a>

    <!--btn fixed desk-->
    <a
      href="#formulario-mob"
      class="block md:hidden fixed bottom-2 z-[45] right-2 md:right-5 border-2 md:border-4 transition ease-in-out duration-300 border-orangeTropezon hover:border-blueTropezon rounded-full bg-orangeTropezon p-1 hover:bg-blueTropezon"
    >
      <img
        src="../../../assets/img/email.svg"
        alt=""
        class="w-4 h-4 md:w-8 md:h-8"
      />
    </a>
  </div>
</section>
