<section
  class="bg-blueTropezon py-14 md:py-[5 rem] relative md:overflow-hidden"
>
  <!--INDICE-->
  <div
    class="absolute left-[-5rem] top-[12rem] hidden md:flex flex-col items-center gap-y-28"
  >
    <h1
      class="-rotate-90 text-[0.88rem] font-hoeflerText text-orangeTropezon tracking-widest"
    >
      <i> About San Antonio de Areco</i>
    </h1>
    <div class="border-l-[0.03px] border-orangeTropezon h-36"></div>
  </div>
  <!--INDICE-->

  <div class="container">
    <div
      class="lg:flex justify-between items-center relative"
      data-x-data
      data-x-ref="popularToursTitle"
      data-x-intersect="anime({ targets: $refs.popularToursTitle, translateY: [100, 0], opacity: [0 , 1], easing: 'linear', duration: 500 })"
    >
      <div class="">
        <h6
          class="text-orangeTropezon font-tradeGothicLt uppercase tracking-widest text-base leading-5 sm:text-base sm:leading-7 lg:text-[1.3rem] lg:leading-6 2xl:text-2xl"
        >
          Those who are familiar with Areco
          <br class="hidden md:block" />
          will understand what we mean and
          <br class="hidden md:block" />
          for those who aren't, we invite you <br class="hidden md:block" />
          to get to know it.
        </h6>
      </div>
    </div>

    <div
      class="tours flex justify-start mt-10"
      data-x-data
      data-x-intersect="anime({ targets: '.tours a', translateY: [100, 0], opacity: [0, 1], delay: anime.stagger(150), duration: 500 ,easing: 'easeOutQuad' })"
    >
      <div class="flex md:hidden parrafo text-white">
        <p class="pr-0">
          San Antonio de Areco preserves all the characteristics of a
          traditional town in the Pampas plains: criollo music, native dances,
          artisans and a great appreciation for nature. Known as the "birthplace
          of tradition," it has established itself as a rural tourism
          destination for years. However, during the pandemic, the possibility
          of remote work in peaceful and natural environments made it attractive
          to new residents who sought to improve their quality of life without
          losing proximity to the city. This shift in population has further
          enhanced its gastronomic, cultural, and entertainment attractions,
          blending old customs with new trends.
          <br />
          <br />
          Many benefits are mentioned by the residents who have chosen to live
          in Areco. The first thing they highlight is the tranquillity along
          with natural surroundings which directly impact their quality of life.
          In addition to that, being away from noise and pollution and having
          the opportunity to double the living space in a safe environment are
          additional advantages.
        </p>
      </div>
      <div
        class="justify-start items-start gap-x-10 xl:gap-x-20 hidden md:flex"
      >
        <p
          class="parrafo text-white max-w-prose text-left w-[20rem] lg:w-[29rem] xl:w-[26rem] 2xl:w-[30rem]"
        >
          San Antonio de Areco preserves all the characteristics of a
          traditional town in the Pampas plains: criollo music, native dances,
          artisans and a great appreciation for nature. Known as the "birthplace
          of tradition," it has established itself as a rural tourism
          destination for years. However, during the pandemic, the possibility
          of remote work in peaceful and natural environments made it attractive
          to new residents who sought to improve their quality of life without
          losing proximity to the city. This shift in population has further
          enhanced its gastronomic, cultural, and entertainment attractions,
          blending old customs with new trends.
        </p>
        <p
          class="parrafo text-white max-w-prose text-left w-[20rem] lg:w-[29rem] xl:w-[28rem] 2xl:w-[30rem]"
        >
          Many benefits are mentioned by the residents who have chosen to live
          in Areco. The first thing they highlight is the tranquillity along
          with natural surroundings which directly impact their quality of life.
          In addition to that, being away from noise and pollution and having
          the opportunity to double the living space in a safe environment are
          additional advantages.
        </p>
      </div>
    </div>
  </div>
</section>
