<section
  class="bg-blueTropezon py-14 md:py-[5 rem] relative md:overflow-hidden"
>
  <!--INDICE-->
  <div
    class="absolute left-[-5rem] top-[12rem] hidden md:flex flex-col items-center gap-y-28"
  >
    <h1
      class="-rotate-90 text-[0.88rem] font-hoeflerText text-orangeTropezon tracking-widest"
    >
      <i> Sobre San Antonio de Areco</i>
    </h1>
    <div class="border-l-[0.03px] border-orangeTropezon h-36"></div>
  </div>
  <!--INDICE-->

  <div class="container">
    <div
      class="lg:flex justify-between items-center relative"
      data-x-data
      data-x-ref="popularToursTitle"
      data-x-intersect="anime({ targets: $refs.popularToursTitle, translateY: [100, 0], opacity: [0 , 1], easing: 'linear', duration: 500 })"
    >
      <div class="">
        <h6
          class="text-orangeTropezon font-tradeGothicLt uppercase tracking-widest text-base leading-5 sm:text-base sm:leading-7 lg:text-[1.3rem] lg:leading-6 2xl:text-2xl"
        >
          QUIENES CONOCEN ARECO SABRÁN <br class="hidden md:block" />
          DE LO QUE HABLAMOS. Y LOS QUE <br class="hidden md:block" />
          NO, LOS INVITAMOS A CONOCERLO.
        </h6>
      </div>
    </div>

    <div
      class="tours flex justify-start mt-10"
      data-x-data
      data-x-intersect="anime({ targets: '.tours a', translateY: [100, 0], opacity: [0, 1], delay: anime.stagger(150), duration: 500 ,easing: 'easeOutQuad' })"
    >
      <div class="flex md:hidden parrafo text-white">
        <p class="pr-0">
          San Antonio de Areco conserva todos los atributos de un tradicional
          pueblo de la llanura pampeana: música criolla, danzas nativas,
          artesanos y gran valor por la naturaleza. Conocido como “cuna de la
          tradición” se consolidó hace años como un destino de turismo rural.
          Sin embargo durante la pandemia, la posibilidad de trabajar remoto en
          ambientes tranquilos y naturales, lo volvieron atractivo también para
          nuevos residentes que buscaban mejorar su calidad de vida sin perder
          cercanía con la ciudad. Este movimiento en la población potenció aún
          más su oferta gastronómica, cultural y de entretenimiento,
          complementando las costumbres antiguas con las nuevas tendencias.
          <br />
          <br />
          Muchos son los beneficios que señalan los vecinos que optaron por
          vivir en Areco. Lo primero que destacan la tranquilidad y la
          naturaleza, que impacta directamente en la calidad de vida. A eso hay
          que sumarle estar lejos del ruido y la contaminación, la posibilidad
          de duplicar metros cuadrados en un entorno seguro.
        </p>
      </div>
      <div
        class="justify-start items-start gap-x-10 xl:gap-x-20 hidden md:flex"
      >
        <p
          class="parrafo text-white max-w-prose text-left w-[20rem] lg:w-[29rem] xl:w-[26rem] 2xl:w-[30rem]"
        >
          San Antonio de Areco conserva todos los atributos de un tradicional
          pueblo de la llanura pampeana: música criolla, danzas nativas,
          artesanos y gran valor por la naturaleza. Conocido como “cuna de la
          tradición” se consolidó hace años como un destino de turismo rural.
          Sin embargo durante la pandemia, la posibilidad de trabajar remoto en
          ambientes tranquilos y naturales, lo volvieron atractivo también para
          nuevos residentes que buscaban mejorar su calidad de vida sin perder
          cercanía con la ciudad. Este movimiento en la población potenció aún
          más su oferta gastronómica, cultural y de entretenimiento,
          complementando las costumbres antiguas con las nuevas tendencias.
        </p>
        <p
          class="parrafo text-white max-w-prose text-left w-[20rem] lg:w-[29rem] xl:w-[28rem] 2xl:w-[30rem]"
        >
          Muchos son los beneficios que señalan los vecinos que optaron por
          vivir en Areco. Lo primero que destacan la tranquilidad y la
          naturaleza, que impacta directamente en la calidad de vida. A eso hay
          que sumarle estar lejos del ruido y la contaminación, la posibilidad
          de duplicar metros cuadrados en un entorno seguro.
        </p>
      </div>
    </div>
  </div>
</section>
