<section class="py-14 lg:py-36 bg-white relative overflow-hidden">
  <!--INDICE-->
  <div
    class="absolute -right-9 top-[10rem] lg:top-[17rem] hidden md:flex flex-col items-center gap-16"
  >
    <h1
      class="-rotate-90 text-[0.88rem] font-hoeflerText text-orangeTropezon tracking-widest"
    >
      <i>Más información</i>
    </h1>
    <div class="border-l-[0.03px] border-orangeTropezon h-28"></div>
  </div>
  <!--INDICE-->

  <div class="container hidden md:block">
    <div class="md:flex md:flex-row-reverse justify-between items-center">
      <div
        class="hero-title text-center md:text-left flex flex-col gap-y-5 justify-center items-center"
        data-x-data
        data-x-ref="popularToursTitle"
        data-x-intersect="anime({ targets: $refs.popularToursTitle, translateY: [100, 0], opacity: [0 , 1], easing: 'linear', duration: 500 })"
      >
        <h1 class="titular-principal max-w-3xl mx-auto text-orangeTropezon">
          MASTERPLAN
        </h1>

        <a
          class="border-b border-blueTropezon hover:border-orangeTropezon transition ease-in-out duration-300 px-2 pb-1 text-blueTropezon hover:text-orangeTropezon"
          href="/tropezon/"
          ><span class="btn-ver">Ver más</span></a
        >
      </div>
      <div class="w-[20rem] xl:w-4/12">
        <img src="../../../assets/img/mapa-master2.svg" alt="" />
      </div>
    </div>
  </div>

  <div class="md:hidden flex justify-center relative container">
    <div class="absolute top-4 w-[21.5rem] z-40">
      <div
        class="hero-title text-center md:text-left flex flex-col gap-y-2 md:gap-y-5 justify-center items-center"
        data-x-data
        data-x-ref="popularToursTitle"
        data-x-intersect="anime({ targets: $refs.popularToursTitle, translateY: [100, 0], opacity: [0 , 1], easing: 'linear', duration: 500 })"
      >
        <h1 class="titular-principal max-w-3xl mx-auto text-orangeTropezon">
          MASTERPLAN
        </h1>

        <a
          class="border-b border-white hover:border-orangeTropezon transition ease-in-out duration-300 text-white hover:text-orangeTropezon"
          href="/tropezon/"
          ><span class="btn-ver">Ver más</span></a
        >
      </div>
    </div>
    <div class="w-full flex justify-center">
      <img
        src="../../../assets/img/masterplan-mobile.png"
        alt=""
        class="block md:hidden w-[21.5rem] z-30"
      />
    </div>
  </div>
</section>
