<section class="bg-white py-14 md:py-[7.8rem]">
  <div class="container">
    <div
      class="lg:flex justify-between items-center relative flex-row-reverse"
      data-x-data
      data-x-ref="popularToursTitle"
      data-x-intersect="anime({ targets: $refs.popularToursTitle, translateY: [100, 0], opacity: [0 , 1], easing: 'linear', duration: 500 })"
    >
      <div class="">
        <h2
          class="font-hoeflerText text-3xl md:text-5xl xl:text-7xl text-blueTropezon mt-2"
        >
          PENSAR EN VERDE
        </h2>
        <h6
          class="text-orangeTropezon uppercase tracking-widest text-xs md:text-[1.104rem] font-tradeGothicLt text-right"
        >
          Disfrutando en comunidad
        </h6>
      </div>
    </div>

    <div
      class="tours mt-10 flex justify-center relative pb-5"
      data-x-data
      data-x-intersect="anime({ targets: '.tours a', translateY: [100, 0], opacity: [0, 1], delay: anime.stagger(150), duration: 500 ,easing: 'easeOutQuad' })"
    >
      <h1
        class="absolute top-1/3 text-orangeTropezon text-[2rem] leading-10 font-hoeflerText bg-white p-2 border-2 border-r-0 border-orangeTropezon"
      >
        PODA ANUAL <br />
        DE JAZMINES
      </h1>
      <div class="w-1/2 border-4 border-orangeTropezon p-2">
        <img
          src="../../../assets/img/jazmines.jpg"
          alt=""
          class="w-full h-full shadow-2xl"
        />
      </div>
      <div class="w-1/2 flex justify-center items-center py-10">
        <div
          class="bg-white flex items-center justify-center flex-col gap-y-4 w-2/3 pl-10"
        >
          <p class="text-blueTropezon text-xl font-tradeGothicLt text-right">
            Anualmente realizamos un evento abierto a propietarios, amigos y
            familiares para podar nuestro más de 2.000 jazmines del cabo que
            junto con 6.000 árboles y arbustos de más de 400 especies componen
            la arboleda del Tropezón. <br /><br />
            Una oportunidad única para conocer y conectar con los vecinos del
            barrio mientras compartimos una velada con música, comida
            tradicional, información relevante y mucha naturaleza.
          </p>
        </div>
      </div>
    </div>

    <div
      class="tours mt-10 flex flex-row-reverse justify-center relative pb-5"
      data-x-data
      data-x-intersect="anime({ targets: '.tours a', translateY: [100, 0], opacity: [0, 1], delay: anime.stagger(150), duration: 500 ,easing: 'easeOutQuad' })"
    >
      <h1
        class="absolute top-1/3 text-orangeTropezon text-[2rem] leading-10 font-hoeflerText bg-white p-2 border-2 border-l-0 border-orangeTropezon"
      >
        PODA ANUAL <br />
        DE JAZMINES
      </h1>
      <div class="w-1/2 border-4 border-orangeTropezon p-2">
        <img
          src="../../../assets/img/jazmines.jpg"
          alt=""
          class="w-full h-full shadow-2xl"
        />
      </div>
      <div class="w-1/2 flex justify-center items-center py-10">
        <div
          class="bg-white flex items-center justify-center flex-col gap-y-4 w-2/3 pr-10"
        >
          <p class="text-blueTropezon text-xl font-tradeGothicLt text-left">
            Anualmente realizamos un evento abierto a propietarios, amigos y
            familiares para podar nuestro más de 2.000 jazmines del cabo que
            junto con 6.000 árboles y arbustos de más de 400 especies componen
            la arboleda del Tropezón. <br /><br />
            Una oportunidad única para conocer y conectar con los vecinos del
            barrio mientras compartimos una velada con música, comida
            tradicional, información relevante y mucha naturaleza.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
