<section class="bg-white py-16 2xl:pt-16 pb-40 md:overflow-hidden">
  <div class="container flex flex-col gap-y-14">
    <!--TITULAR-->
    <div
      class="flex justify-between items-center relative"
      data-x-data
      data-x-ref="popularToursTitle"
      data-x-intersect="anime({ targets: $refs.popularToursTitle, translateY: [100, 0], opacity: [0 , 1], easing: 'linear', duration: 500 })"
    >
      <h2 class="titular-principal text-blueTropezon mt-2 uppercase">Us</h2>
    </div>
    <!--TITULAR-->

    <!--TESTIMONIOS-->
    <div
      class="grid grid-cols-[minmax(0,300px)] items-center justify-center md:grid-cols-3 gap-y-10 md:gap-x-10 font-tradeGothicLt text-sm md:text-xs lg:text-sm xl:text-base"
    >
      <!--1-->
      <div class="shadow-2xl">
        <div class="bg-orangeTropezon">
          <img
            src="../../../assets/img/Tomas_Talia.png"
            alt=""
            class="md:w-full lg:h-[18rem] object-cover"
          />
        </div>
        <div
          class="border border-orangeTropezon p-5 md:p-2 lg:py-10 lg:px-9 flex flex-col"
        >
          <p class="h-[8rem]">
            "We are Correntinos, born and raised. We have spent a lot of time in
            the countryside, and San Antonio de Areco is the birthplace of
            everything that we hold dear"
          </p>
          <div class="flex items-center gap-x-4">
            <hr class="border border-orangeTropezon w-[1.5rem] h-[0.5px]" />
            <span>Tomás Talia</span>
          </div>
        </div>
      </div>

      <!--2-->
      <div class="shadow-2xl">
        <div class="bg-orangeTropezon">
          <img
            src="../../../assets/img/Juan-Cruz_Talia.png"
            alt=""
            class="w-full lg:h-[18rem] object-cover"
          />
        </div>
        <div
          class="border border-orangeTropezon p-5 md:p-2 lg:p-10 flex flex-col"
        >
          <p class="h-[8rem]">
            "El Tropezón is undoubtedly our favorite development. We live and
            breathe it every day. It is our home"
          </p>
          <div class="flex items-center gap-x-4">
            <hr class="border border-orangeTropezon w-[1.5rem] h-[0.5px]" />
            <span>Juan Cruz Talia</span>
          </div>
        </div>
      </div>
      <!--3-->
      <div class="shadow-2xl">
        <div class="bg-orangeTropezon">
          <img
            src="../../../assets/img/Hector_Talia.jpg"
            alt=""
            class="w-full lg:h-[18rem] object-cover"
          />
        </div>
        <div
          class="border border-orangeTropezon p-5 md:p-2 lg:p-10 flex flex-col"
        >
          <p class="h-[8rem]">
            "San Antonio de Areco is our place in the world. Our friends are
            here. It is also where we have lived for many years, and it is the
            place we will always return to"
          </p>
          <div class="flex items-center gap-x-4">
            <hr class="border border-orangeTropezon w-[1.5rem] h-[0.5px]" />
            <span>Oscar Talia</span>
          </div>
        </div>
      </div>
    </div>
    <!--TESTIMONIOS-->
  </div>
</section>
