<section class="bg-white pb-14 md:pt-0 md:pb-40 relative md:overflow-hidden">
  <!--INDICE-->
  <div
    class="absolute -left-8 top-[10rem] xl:top-[14rem] hidden md:flex flex-col items-center gap-14"
  >
    <h1
      class="-rotate-90 text-[0.88rem] font-hoeflerText text-orangeTropezon tracking-widest"
    >
      <i>Sobre nosotros</i>
    </h1>
    <div class="border-l-[0.03px] border-orangeTropezon h-64"></div>
  </div>
  <!--INDICE-->

  <div class="container md:pt-24 md:pb-[9.5rem]">
    <!--RESPONSABLES DESK-->
    <div class="hidden md:flex justify-between items-center relative">
      <div class="absolute top-5 -right-14 flex flex-col items-start">
        <div
          class="bg-white w-[19rem] h-[21rem] lg:w-[26rem] lg:h-[27rem] xl:w-[28rem] xl:h-[29rem] flex justify-center items-center flex-col border-orangeTropezon border"
        ></div>
        <h1
          class="text-xs lg:text-sm xl:text-[0.9rem] 2xl:xl:text-[1.1rem] font-hoeflerText text-blueTropezon text-center pt-5 tracking-widest"
        >
          TOMÁS, OSCAR Y JUAN CRUZ TALIA
        </h1>
      </div>

      <div class="absolute top-0 -right-8 border-orangeTropezon">
        <div
          class="w-[19rem] h-[21rem] lg:w-[26rem] lg:h-[27rem] xl:w-[28rem] xl:h-[29rem]"
        >
          <img
            src="../../../assets/img/familia-talia1.jpg"
            alt=""
            class="h-full w-full object-cover"
          />
        </div>
      </div>

      <div
        data-x-data
        data-x-ref="popularToursTitle"
        data-x-intersect="anime({ targets: $refs.popularToursTitle, translateY: [100, 0], opacity: [0 , 1], easing: 'linear', duration: 500 })"
      >
        <h2 class="titular-principal text-blueTropezon mt-2 mb-2 md:mb-8">
          CONOCÉ A LOS <br />
          DESARROLLADORES <br />
          DEL PROYECTO
        </h2>
        <h6
          class="text-orangeTropezon tracking-widest text-xs md:text-sm xl:text-[1.29rem] xl:leading-7 font-tradeGothicLt leading-6"
        >
          “Un proyecto familiar que se <br />
          mantiene con las generaciones"
        </h6>
        <div class="pt-10 flex justify-center items-center">
          <a
            class="border-b border-blueTropezon hover:border-orangeTropezon transition ease-in-out duration-300 text-blueTropezon hover:text-orangeTropezon"
            href="/quienes-somos/"
            ><span class="btn-ver">Ver más</span></a
          >
        </div>
      </div>
    </div>
    <!--RESPONSABLES DESK-->

    <!--RESPONSABLES MOB-->
    <div
      class="block md:hidden"
      data-x-data
      data-x-ref="popularToursTitle"
      data-x-intersect="anime({ targets: $refs.popularToursTitle, translateY: [100, 0], opacity: [0 , 1], easing: 'linear', duration: 500 })"
    >
      <h2 class="titular-principal text-blueTropezon mt-2 mb-2">
        CONOCÉ A LOS <br />
        DESARROLLADORES <br />
        DEL PROYECTO
      </h2>
      <h6
        class="text-orangeTropezon tracking-widest text-xs sm:text-sm font-tradeGothicLt leading-4"
      >
        “Un proyecto familiar que se <br />
        mantiene con las generaciones"
      </h6>
      <div class="pt-5">
        <a
          class="border-b border-blueTropezon hover:border-orangeTropezon transition ease-in-out duration-300 text-blueTropezon hover:text-orangeTropezon"
          href="/quienes-somos/"
          ><span class="btn-ver">Ver más</span></a
        >
      </div>
    </div>

    <div class="flex flex-col justify-center items-center pt-7 md:hidden">
      <div class="w-full h-full relative">
        <img
          src="../../../assets/img/familia-talia1.jpg"
          class="h-full w-full object-cover"
          alt=""
          style="position: relative; z-index: 1"
        />
        <div
          class="w-full h-full bg-transparent border border-orangeTropezon absolute top-4 -right-4"
        ></div>
      </div>

      <h1
        class="text-[0.8rem] font-hoeflerText text-blueTropezon pt-5 tracking-widest"
      >
        TOMÁS, JUAN CRUZ y OSCAR TALIA
      </h1>
    </div>
    <!--RESPONSABLES MOB-->
  </div>
</section>
