<section
  class="py-14 md:py-32 shadow-2xl relative md:overflow-hidden bg-blueTropezon"
>
  <div
    class="container mx-auto overflow-x-hidden md:overflow-x-auto flex flex-col gap-y-10 md:gap-y-20"
  >
    <div
      class="flex justify-between items-center relative"
      data-x-data
      data-x-ref="popularToursTitle"
      data-x-intersect="anime({ targets: $refs.popularToursTitle, translateY: [100, 0], opacity: [0 , 1], easing: 'linear', duration: 500 })"
    >
      <div class="">
        <h2 class="titular-principal text-white mt-2 md:mb-8 uppercase">
          Media articles <br />
          about El Tropezón <br />
          de Areco
        </h2>
      </div>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-10 md:gap-y-20 gap-x-14"
    >
      <!--1-->
      <a
        target="_blank"
        href="https://www.lanacion.com.ar/economia/san-antonio-de-areco-nid2007589/"
        class="flex flex-col gap-y-5 md:gap-y-12"
      >
        <div
          class="opacity-75 hover:opacity-100 transition ease-in-out duration-500"
        >
          <img
            src="../../../assets/img/noticia-nacion-areco.jpg"
            alt=""
            class="object-cover h-[17rem] sm:h-[20rem] md:h-full w-full aspect-ratio-square"
          />
        </div>
        <div class="flex-grow flex flex-col gap-y-4 justify-between">
          <p
            class="text-white font-hoeflerText tracking-[0.2em] text-xs sm:text-base md:text-xs xl:text-sm 2xl:text-base 2xl:leading-5"
          >
            San Antonio de Areco, a bet that grows for those who want
            countryside near the city
          </p>
          <p
            class="uppercase text-orangeTropezon font-hoeflerText tracking-[0.2em] text-sm sm:text-lg md:text-sm xl:text-base 2xl:text-lg"
          >
            LA NACIÓN
          </p>
        </div>
      </a>

      <!--2-->
      <a
        target="_blank"
        href="https://www.infobae.com/espacio-no-editorial/2017/05/23/el-desarrollo-inmobiliario-que-combina-campo-y-confort/"
        class="flex flex-col gap-y-5 md:gap-y-12"
      >
        <div
          class="opacity-75 hover:opacity-100 transition ease-in-out duration-500"
        >
          <img
            src="../../../assets/img/noticia-infobae-areco.jpg"
            alt=""
            class="object-cover h-[17rem] sm:h-[20rem] md:h-full w-full aspect-ratio-square"
          />
        </div>
        <div class="flex-grow flex flex-col gap-y-4 justify-between">
          <p
            class="text-white font-hoeflerText tracking-[0.2em] text-xs sm:text-base md:text-xs xl:text-sm 2xl:text-base 2xl:leading-5"
          >
            Real estate development that combines countryside and comfort
          </p>
          <p
            class="uppercase text-orangeTropezon font-hoeflerText tracking-[0.2em] text-sm sm:text-lg md:text-sm xl:text-base 2xl:text-lg"
          >
            INFOBAE
          </p>
        </div>
      </a>

      <!--3-->
      <a
        target="_blank"
        href="http://www.areconoticias.com.ar/2023/?p=35451"
        class="flex flex-col gap-y-5 md:gap-y-12"
      >
        <div
          class="opacity-75 hover:opacity-100 transition ease-in-out duration-500"
        >
          <img
            src="../../../assets/img/noticia-areco.jpg"
            alt=""
            class="object-cover h-[17rem] sm:h-[20rem] md:h-full w-full aspect-ratio-square"
          />
        </div>
        <div class="flex-grow flex flex-col gap-y-4 justify-between">
          <p
            class="text-white font-hoeflerText tracking-[0.2em] text-xs sm:text-base md:text-xs xl:text-sm 2xl:text-base 2xl:leading-5"
          >
            San Antonio de Areco, a bet that grows for those who want
            countryside near the city
          </p>
          <p
            class="uppercase text-orangeTropezon font-hoeflerText tracking-[0.2em] text-sm sm:text-lg md:text-sm xl:text-base 2xl:text-lg"
          >
            ARECO NOTICIAS
          </p>
        </div>
      </a>
    </div>
  </div>
</section>
