<section
  class="py-14 md:py-32 shadow-2xl relative md:overflow-hidden bg-blueTropezon"
>
  <div
    class="container mx-auto overflow-x-hidden md:overflow-x-auto flex flex-col gap-y-10 md:gap-y-20"
  >
    <div
      class="flex justify-between items-center relative"
      data-x-data
      data-x-ref="popularToursTitle"
      data-x-intersect="anime({ targets: $refs.popularToursTitle, translateY: [100, 0], opacity: [0 , 1], easing: 'linear', duration: 500 })"
    >
      <div class="">
        <h2 class="titular-principal text-white mt-2 md:mb-8 uppercase">
          Media articles about San Antonio de Areco
        </h2>
      </div>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-y-20 gap-x-14 lg:gap-x-8"
    >
      <!--1-->
      <a
        target="_blank"
        href="https://www.lanacion.com.ar/revista-living/en-san-antonio-de-areco-una-joyera-remodelo-una-antigua-construccion-para-armar-su-casa-taller-nid21122022/"
        class="flex flex-col gap-y-5 md:gap-y-12"
      >
        <div
          class="opacity-75 hover:opacity-100 transition ease-in-out duration-500"
        >
          <img
            src="../../../assets/img/noticia-living-tropezon-1.jpg"
            alt=""
            class="object-cover h-[17rem] sm:h-[20rem] md:h-full w-full aspect-ratio-square"
          />
        </div>

        <div class="flex-grow flex flex-col gap-y-4 justify-between">
          <p
            class="text-white font-hoeflerText tracking-[0.2em] text-xs sm:text-base md:text-xs xl:text-sm 2xl:text-base 2xl:leading-5"
          >
            In San Antonio de Areco. A jeweler remodeled an old building to set
            up her house-workshop
          </p>
          <p
            class="uppercase text-orangeTropezon font-hoeflerText tracking-[0.2em] text-sm sm:text-lg md:text-sm xl:text-base 2xl:text-lg"
          >
            Living, La Nación
          </p>
        </div>
      </a>

      <!--2-->
      <a
        target="_blank"
        href="https://www.lanacion.com.ar/revista-living/destino-perder-un-departamento-unico-en-el-centro-lo-llevo-a-encontrar-una-nueva-vida-san-antonio-de-nid05022023/"
        class="flex flex-col gap-y-5 md:gap-y-12"
      >
        <div
          class="opacity-75 hover:opacity-100 transition ease-in-out duration-500"
        >
          <img
            src="../../../assets/img/noticia-living-tropezon-2.jpg"
            alt=""
            class="object-cover h-[17rem] sm:h-[20rem] md:h-full w-full aspect-ratio-square"
          />
        </div>

        <div class="flex-grow flex flex-col gap-y-4 justify-between">
          <p
            class="text-white font-hoeflerText tracking-[0.2em] text-xs sm:text-base md:text-xs xl:text-sm 2xl:text-base 2xl:leading-5"
          >
            Losing a unique apartment in the Center led him to find a new life
            in San Antonio de Areco
          </p>
          <p
            class="uppercase text-orangeTropezon font-hoeflerText tracking-[0.2em] text-sm sm:text-lg md:text-sm xl:text-base 2xl:text-lg"
          >
            Living, La Nación
          </p>
        </div>
      </a>

      <!--3-->
      <a
        target="_blank"
        href="https://www.somosohlala.com/revista/historico/en-san-antonio-de-areco-la-cocina-es-la-mejor-tradicion-nid10092006?gclid=Cj0KCQiApKagBhC1ARIsAFc7Mc78bxadkZUE1V7f53Za4UM2fcXhXExEM8khT7GEaXpTvbQXgTu9Mt8aAnt2EALw_wcB"
        class="flex flex-col gap-y-5 md:gap-y-12"
      >
        <div
          class="opacity-75 hover:opacity-100 transition ease-in-out duration-500"
        >
          <img
            src="../../../assets/img/noticia-living-tropezon-1.jpg"
            alt=""
            class="object-cover h-[17rem] sm:h-[20rem] md:h-full w-full aspect-ratio-square"
          />
        </div>

        <div class="flex-grow flex flex-col gap-y-4 justify-between">
          <p
            class="text-white font-hoeflerText tracking-[0.2em] text-xs sm:text-base md:text-xs xl:text-sm 2xl:text-base 2xl:leading-5"
          >
            In San Antonio de Areco, cooking is the best tradition
          </p>
          <p
            class="uppercase text-orangeTropezon font-hoeflerText tracking-[0.2em] text-sm sm:text-lg md:text-sm xl:text-base 2xl:text-lg"
          >
            OHLALA!
          </p>
        </div>
      </a>

      <!--4-->
      <a
        target="_blank"
        href="https://www.lanacion.com.ar/revista-lugares/san-antonio-de-areco-escapada-gourmet-al-nuevo-restaurante-a-base-de-flores-de-la-cocinera-paula-nid12112022/"
        class="flex flex-col gap-y-5 md:gap-y-12"
      >
        <div
          class="opacity-75 hover:opacity-100 transition ease-in-out duration-500"
        >
          <img
            src="../../../assets/img/noticia-nacion-tropezon.jpg"
            alt=""
            class="object-cover h-[17rem] sm:h-[20rem] md:h-full w-full aspect-ratio-square"
          />
        </div>

        <div class="flex-grow flex flex-col gap-y-4 justify-between">
          <p
            class="text-white font-hoeflerText tracking-[0.2em] text-xs sm:text-base md:text-xs xl:text-sm 2xl:text-base 2xl:leading-5"
          >
            Corazonada, the new gourmet restaurant by chef Paula Méndez Carreras
          </p>
          <p
            class="uppercase text-orangeTropezon font-hoeflerText tracking-[0.2em] text-sm sm:text-lg md:text-sm xl:text-base 2xl:text-lg"
          >
            Lugares, La Nación
          </p>
        </div>
      </a>
    </div>
  </div>
</section>
