<section
  class="bg-white py-14 md:pt-[4rem] md:pb-[3rem] relative md:overflow-hidden"
>
  <!--INDICE-->
  <div
    class="absolute right-[-5.5rem] top-[35rem] hidden md:flex flex-col items-center gap-32"
  >
    <h1
      class="-rotate-90 text-[0.88rem] font-hoeflerText text-orangeTropezon tracking-widest"
    >
      <i>About experiences and opinions</i>
    </h1>
    <div class="border-l-[0.03px] border-orangeTropezon h-40"></div>
  </div>
  <!--INDICE-->

  <div class="container">
    <!--TITULAR-->
    <div
      class="flex justify-between items-center relative flex-row-reverse"
      data-x-data
      data-x-ref="popularToursTitle"
      data-x-intersect="anime({ targets: $refs.popularToursTitle, translateY: [100, 0], opacity: [0 , 1], easing: 'linear', duration: 500 })"
    >
      <div class="flex flex-col gap-y-1">
        <h2 class="titular-principal text-blueTropezon mt-2 uppercase">
          Testimonials
        </h2>
        <h6 class="titular-secundario text-orangeTropezon uppercase text-right">
          from El Tropezón homeowners
        </h6>
      </div>
    </div>
    <!--TITULAR-->

    <!--TESTIMONIOS-->
    <div class="flex flex-col gap-y-20">
      <!--CASCIARI-->
      <div
        class="tours mt-10 flex flex-col lg:flex-row justify-center relative"
        data-x-data
        data-x-intersect="anime({ targets: '.tours a', translateY: [100, 0], opacity: [0, 1], delay: anime.stagger(150), duration: 500 ,easing: 'easeOutQuad' })"
      >
        <!--Titular mob -->
        <div class="w-full sm:w-[30rem] block lg:hidden mx-auto pb-8">
          <h1
            class="text-orangeTropezon font-hoeflerText text-[1.4rem] leading-7 sm:text-[1.6rem] pb-4 mx-auto"
          >
            HERNÁN <br />
            CASCIARI
          </h1>
          <p
            class="font-tradeGothicLt text-[0.845rem] text-blueTropezon tracking-widest"
          >
            Homeowner since 2021 <br />
            He was born in Mercedes, Province of Buenos Aires in 1971. He
            founded Editorial Orsai and Orsai Audiovisuales. He directs Orsai
            (chronicles) and Bonsai (children's) magazines.
          </p>
        </div>
        <!--Titular mob-->

        <!--imagen-->
        <div
          class="h-[17rem] w-full lg:w-1/2 md:h-full z-30 flex justify-center items-center lg:block"
        >
          <img
            src="../../../assets/img/hernan1.png"
            alt=""
            class="object-cover h-full w-full sm:h-[18rem] sm:w-[30rem] lg:w-[35rem] lg:h-[18rem] xl:w-[30rem] xl:h-[18rem] 2xl:w-[36rem] 2xl:h-[22rem]"
          />
        </div>
        <!--imagen-->

        <!--texto-->
        <div
          class="w-full flex justify-center items-center lg:w-1/2 lg:justify-start lg:items-start py-10 lg:py-0"
        >
          <!--desk-->
          <!--Titular desk -->
          <div
            class="w-full hidden lg:flex flex-col mx-auto h-full px-5 2xl:gap-y-9"
          >
            <div class="flex gap-x-5 h-auto items-start">
              <h1
                class="text-orangeTropezon font-hoeflerText text-[1.4rem] leading-7 xl:text-[1.8rem] xl:leading-9 2xl:text-[2.3rem] 2xl:leading-10 tracking-wide"
              >
                HERNÁN <br />
                CASCIARI
              </h1>
              <p
                class="font-tradeGothicLt text-blueTropezon text-[0.7rem] xl:text-[0.8rem] 2xl:text-[0.87rem]"
              >
                Homeowner since 2021 <br />
                He was born in Mercedes, Province of Buenos Aires in 1971. He
                founded Editorial Orsai and Orsai Audiovisuales. He directs
                Orsai (chronicles) and Bonsai (children's) magazines.
              </p>
            </div>
            <div
              class="h-full flex flex-col justify-around items-center 2xl:gap-y-16 lg:pt-10 2xl:pt-0"
            >
              <div
                class="border border-orangeTropezon text-orangeTropezon font-tradeGothicLt tracking-widest text-xs xl:text-[0.8rem] 2xl:text-base"
              >
                <p class="py-5 xl:py-8 pl-8 pr-5">
                  “When I see my daughter running through the fields of Areco, I
                  feel a sense of tranquillity that she will be able to remember
                  with great emotion when she grows up. Areco is the future for
                  my daughter."
                </p>
              </div>
              <div
                class="md:pb-1 md:px-2 border-b border-blueTropezon hover:border-orangeTropezon transition ease-in-out duration-300 text-blueTropezon hover:text-orangeTropezon lg:pt-11 xl:pt-6 2xl:pt-0"
              >
                <a href="/tropezon-en/#recitales-caseari" class="btn-ver"
                  >See more</a
                >
              </div>
            </div>
          </div>
          <!--Titular desk-->
          <!--desk-->

          <!--mobile-->
          <div
            class="lg:hidden border-[1.5px] border-orangeTropezon w-[15rem] sm:w-[20rem] flex flex-col items-center justify-center gap-y-3 md:gap-y-10 relative pt-7 pb-5 sm:pt-12 sm:pb-10 -mt-12"
          >
            <p
              class="text-left text-orangeTropezon text-[0.75rem] sm:text-base font-tradeGothicLt tracking-widest leading-6 md:leading-7 pl-8 pr-4"
            >
              "When I see my daughter <br class="hidden md:block" />
              running through the fields
              <br class="hidden md:block" />
              of Areco, I feel a sense of
              <br class="hidden md:block" />
              tranquillity that she will be able to remember with great
              <br class="hidden md:block" />
              emotion when she grows up.
              <br class="hidden md:block" />
              Areco is the future for my daughter."
            </p>
            <div
              class="md:pb-1 md:px-2 border-b border-blueTropezon hover:border-orangeTropezon transition ease-in-out duration-300 text-blueTropezon hover:text-orangeTropezon"
            >
              <a href="/tropezon-en/#recitales-caseari" class="btn-ver"
                >See more</a
              >
            </div>
          </div>
          <!--mobile-->
        </div>
      </div>
      <!--CASCIARI-->

      <!--OTRO-->
      <div
        class="tours mt-10 flex flex-col lg:flex-row-reverse justify-center relative hidden"
        data-x-data
        data-x-intersect="anime({ targets: '.tours a', translateY: [100, 0], opacity: [0, 1], delay: anime.stagger(150), duration: 500 ,easing: 'easeOutQuad' })"
      >
        <!--Titular mob -->
        <div class="w-full sm:w-[30rem] block lg:hidden mx-auto pb-8">
          <h1
            class="text-orangeTropezon font-hoeflerText text-[1.4rem] leading-7 sm:text-[1.6rem] pb-4 mx-auto"
          >
            MARIANA <br />
            GONZALEZ
          </h1>
          <p
            class="font-tradeGothicLt text-[0.845rem] text-blueTropezon tracking-widest"
          >
            Propietario desde 2021 <br />
            Nació en Mercedes, Buenos Aires, en 1971. Fundó Editorial Orsai y
            Orsai Audiovisuales. Dirige la revista Orsai (crónica) y Bonsai
            (infantil).
          </p>
        </div>
        <!--Titular mob-->

        <!--imagen-->
        <div
          class="h-[17rem] w-full lg:w-1/2 md:h-full z-30 flex justify-center xl:justify-end items-center"
        >
          <img
            src="../../../assets/img/testimonio2-bn.png"
            alt=""
            class="object-cover h-full w-full sm:h-[18rem] sm:w-[30rem] lg:w-[35rem] lg:h-[18rem] xl:w-[30rem] xl:h-[18rem] 2xl:w-[36rem] 2xl:h-[22rem]"
          />
        </div>
        <!--imagen-->

        <!--texto-->
        <div
          class="w-full flex justify-center items-center lg:w-1/2 lg:justify-start lg:items-start py-10 lg:py-0"
        >
          <!--desk-->
          <!--Titular desk -->
          <div
            class="w-full hidden lg:flex flex-col mx-auto h-full px-5 2xl:gap-y-9"
          >
            <div class="flex gap-x-5 h-auto items-start">
              <h1
                class="text-orangeTropezon font-hoeflerText text-[1.4rem] leading-7 xl:text-[1.8rem] xl:leading-9 2xl:text-[2.3rem] 2xl:leading-10 tracking-wide"
              >
                MARIANA <br />
                GONZALEZ
              </h1>
              <p
                class="font-tradeGothicLt text-blueTropezon text-[0.7rem] xl:text-[0.8rem] 2xl:text-[0.87rem]"
              >
                Propietario desde 2021 <br />
                Nació en Mercedes, Buenos Aires, en 1971. Fundó Editorial Orsai
                y Orsai Audiovisuales. Dirige la revista Orsai (crónica) y
                Bonsai (infantil).
              </p>
            </div>
            <div
              class="h-full flex flex-col justify-around items-center 2xl:gap-y-16 lg:pt-10 2xl:pt-0"
            >
              <div
                class="border border-orangeTropezon text-orangeTropezon font-tradeGothicLt tracking-widest text-xs xl:text-[0.8rem] 2xl:text-base"
              >
                <p class="py-5 xl:py-8 pl-7 xl:pl-14 pr-5">
                  “Vivir en El Tropezón es hacer un cambio de vida. <br />
                  Un lugar que nos trae paz, tranquilidad y sentido
                  <br class="xl:hidden" />
                  de pertenencia."
                </p>
              </div>
              <div
                class="md:pb-1 md:px-2 border-b border-blueTropezon hover:border-orangeTropezon transition ease-in-out duration-300 text-blueTropezon hover:text-orangeTropezon lg:pt-14 xl:pt-6 2xl:pt-0"
              >
                <a href="/tropezon-en/" class="btn-ver">See more</a>
              </div>
            </div>
          </div>
          <!--Titular desk-->
          <!--desk-->

          <!--mobile-->
          <div
            class="lg:hidden border-[1.5px] border-orangeTropezon w-[15rem] sm:w-[20rem] flex flex-col items-center justify-center gap-y-3 md:gap-y-10 relative pt-7 pb-5 sm:pt-12 sm:pb-10 -mt-12"
          >
            <p
              class="text-left text-orangeTropezon text-[0.75rem] sm:text-base font-tradeGothicLt tracking-widest leading-6 md:leading-7 pl-8 pr-4 md:pl-0 md:pr-0"
            >
              “Vivir en El Tropezón es hacer <br class="hidden md:block" />
              un cambio de vida. Un lugar <br class="hidden md:block" />
              que nos trae paz, tranquilidad<br class="hidden md:block" />
              y sentido de pertenencia."
            </p>
            <div
              class="md:pb-1 md:px-2 border-b border-blueTropezon hover:border-orangeTropezon transition ease-in-out duration-300 text-blueTropezon hover:text-orangeTropezon"
            >
              <a href="/tropezon-en/" class="btn-ver">See more</a>
            </div>
          </div>
          <!--mobile-->
        </div>
      </div>
      <!--OTRO-->
    </div>
  </div>
</section>
