<section class="bg-white pt-14 md:py-0 shadow-2xl relative md:overflow-hidden">
  <!--INDICE-->
  <div
    class="absolute -left-4 top-[14rem] flex-col items-center gap-y-10 hidden md:flex"
  >
    <h1
      class="-rotate-90 text-[0.88rem] font-hoeflerText text-orangeTropezon tracking-widest"
    >
      <i> Location</i>
    </h1>
    <div class="border-l-[0.03px] border-orangeTropezon h-64"></div>
  </div>
  <!--INDICE-->

  <div class="container pb-[9.5rem] md:pt-24 md:pb-[9.5rem]">
    <div
      class="flex justify-center md:justify-between items-center relative z-40"
      data-x-data
      data-x-ref="popularToursTitle"
      data-x-intersect="anime({ targets: $refs.popularToursTitle, translateY: [100, 0], opacity: [0 , 1], easing: 'linear', duration: 500 })"
    >
      <div
        class="hidden lg:block absolute justify-center top-[36rem] md:top-80 md:right-0 z-50 md:p-3 border-2 border-orangeTropezon shadow-2xl transition ease-in-out duration-300 p-1.5"
      >
        <div
          class="bg-blueTropezon w-[23rem] h-[23rem] xl:w-[23rem] xl:h-[23rem] flex flex-col text-left items-center gap-y-3 md:gap-y-16 justify-center px-5 xl:px-7"
        >
          <h1
            class="lg:text-[1.1rem] text-orangeTropezon lg:leading-6 font-tradeGothicLt tracking-[0.18em] lg:pt-2 lg:pl-9 xl:pl-9"
          >
            A safe and natural environment at an ideal
            <br class="hidden xl:block" />
            distance to establish a weekend house or a
            <br class="hidden xl:block" />
            permanent residence.
          </h1>
          <div
            class="md:px-2 md:pb-1 border-b border-orangeTropezon hover:border-white transition ease-in-out duration-300 text-orangeTropezon hover:text-white"
          >
            <a
              href="https://goo.gl/maps/42MsMZwKwQcmbJ8U7"
              target="_blank"
              class="btn-ver"
              >See location</a
            >
          </div>
        </div>
      </div>
      <div class="flex flex-col md:gap-y-2 lg:gap-y-7 w-full md:w-auto">
        <h6 class="titular-secundario text-orangeTropezon">
          <span class="">EL TROPEZÓN DE ARECO</span>
        </h6>
        <h2 class="text-blueTropezon mt-2 md:mb-8 titular-principal">
          IN A PRIVILEGED <br />
          LOCATION
        </h2>
      </div>

      <div class="w-2/3 lg:w-1/2 xl:w-1/3 hidden md:block">
        <img src="../../../assets/img/mapa-tropezon.png" alt="" class="" />
      </div>
    </div>

    <div
      class="tours xl:flex justify-start mt-2 xl:mt-10 md:grid md:gap-5 md:grid-cols-2 lg:grid-cols-2"
      data-x-data
      data-x-intersect="anime({ targets: '.tours a', translateY: [100, 0], opacity: [0, 1], delay: anime.stagger(150), duration: 500 ,easing: 'easeOutQuad' })"
    >
      <div class="flex justify-center items-center pb-10 md:pb-0">
        <p
          class="parrafo text-orangeTropezon md:max-w-prose xl:pr-28 xl:max-w-[61ch] 2xl:max-w-[70ch]"
        >
          El Tropezón is a residential development in San Antonio de Areco,
          Argentina. It is located at kilometre 116 on Route 8. Just 30 minutes
          away from Pilar and one hour from Buenos Aires via the highway. The
          historical centre of San Antonio de Areco is 1500 metres away via main
          road or motorway.
        </p>
      </div>
      <img
        src="../../../assets/img/mapa-tropezon.png"
        alt=""
        class="block md:hidden"
      />
    </div>
  </div>

  <div
    class="shadow-2xl h-[20rem] flex flex-col justify-center items-center md:flex md:h-auto relative"
  >
    <img
      src="../../../assets/img/hero-nina2opacidad.png"
      alt=""
      class="h-full object-cover"
    />
    <div
      class="block lg:hidden absolute justify-center -top-20 z-40 border-2 border-orangeTropezon shadow-2xl transition ease-in-out duration-300 p-1"
    >
      <div
        class="bg-blueTropezon w-[20rem] h-[9.8rem] sm:h-[13rem] sm:w-[24rem] flex flex-col text-left items-center gap-y-3 justify-center"
      >
        <h1
          class="text-orangeTropezon font-tradeGothicLt text-[0.813rem] sm:text-base leading-4 tracking-[0.18em] pl-16"
        >
          A safe and natural <br />
          environment, at an ideal <br />
          distance to establish a <br />
          weekend housepermanent residence.
        </h1>
        <div
          class="border-b border-orangeTropezon hover:border-white transition ease-in-out duration-300 text-orangeTropezon hover:text-white flex justify-center items-center"
        >
          <a
            href="https://goo.gl/maps/42MsMZwKwQcmbJ8U7"
            target="_blank"
            class="btn-ver"
            >See location</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
