<section
  class="h-[28rem] lg:h-[35rem] 2xl:h-[44rem] flex justify-center items-start valores-tropezon-bg"
  style="background-size: cover; background-position: center"
>
  <div class="container">
    <h1
      class="text-[1.2rem] leading-8 sm:text-[1.8rem] sm:leading-12 md:text-[1.8rem] md:leading-12 lg:text-[2.5rem] lg:leading-12 text-white font-hoeflerText tracking-widest 2xl:text-[3rem] 2xl:leading-[4rem] pt-10"
    >
      “ELEGÍ VIVIR EN UN AMBIENTE <br class="hidden md:block" />
      NATURAL Y FAMILIAR, CON <br class="hidden md:block" />
      ESPACIO VERDE PARA QUE MIS <br class="hidden md:block" />
      HIJOS DISFRUTEN SEGUROS”
    </h1>
  </div>
</section>
