<section
  class="h-[28rem] lg:h-[35rem] flex justify-center items-start md:items-start xl:items-center valores-bg"
  style="background-size: cover; background-position: center"
>
  <div class="container">
    <h1 class="parrafo-valores pt-10 xl:pt-0 uppercase">
      Areco is a place <br class="" />
      that shares <br class="" />
      our values, <br class="" />
      idiosyncrasies <br class="" />
      and traditions
    </h1>
  </div>
</section>
