<section
  class="h-[28rem] lg:h-[35rem] flex justify-center items-start md:items-start xl:items-center valores-bg"
  style="background-size: cover; background-position: center"
>
  <div class="container">
    <h1 class="parrafo-valores pt-10 xl:pt-0">
      CON ARECO <br class="" />
      COMPARTIMOS <br class="" />
      LOS VALORES, <br class="" />
      LA IDIOSINCRASIA <br class="" />
      Y LA TRADICIÓN
    </h1>
  </div>
</section>
