<section class="bg-blueTropezon">
  <footer class="site-footer container">
    <div class="grid grid-cols-1 lg:grid-cols-4 mx-auto py-4">
      <div class="widget py-0 col-span-1 mx-0 flex justify-center lg:block">
        <a href="/" class="w-32 block">
          {% include "svg/el_tropezon_logo_color.svg" %}
        </a>
      </div>
      <div
        class="widget py-5 xl:py-0 flex flex-col items-center lg:block text-center lg:text-left"
      >
        <h5
          class="text-orangeTropezon font-hoeflerText text-base mb-4 md:mb-0 tracking-[0.2em] uppercase"
        >
          Aprende más
        </h5>
        <ul class="font-hoeflerText text-white text-sm flex flex-col gap-y-1">
          <li class="mb-0">
            <a href="/" class="hover:underline tracking-widest">Home</a>
          </li>

          <li>
            <a href="/tropezon/" class="hover:underline tracking-widest"
              >El Tropezón de Areco</a
            >
          </li>
          <li>
            <a href="/areco/" class="hover:underline tracking-widest"
              >San Antonio de Areco</a
            >
          </li>
          <li>
            <a href="/quienes-somos/" class="hover:underline tracking-widest"
              >Quiénes somos</a
            >
          </li>
        </ul>
      </div>

      <div
        class="widget py-5 xl:py-0 flex flex-col items-center lg:block text-center lg:text-left"
      >
        <h5
          class="text-orangeTropezon font-hoeflerText text-base mb-4 md:mb-0 tracking-[0.2em] uppercase"
        >
          Contacto
        </h5>
        <ul class="font-hoeflerText text-white text-sm">
          <li class="mb-1">
            <a
              href="https://goo.gl/maps/42MsMZwKwQcmbJ8U7"
              target="_blank"
              class="hover:underline tracking-widest text-sm leading-3"
              >Ruta Nº8 Km 116,<br class="block lg:hidden" />
              San <br class="hidden lg:block" />
              Antonio de Areco, <br class="block lg:hidden" />
              Prov de Bs As</a
            >
          </li>
          <li class="mb-1">
            <a
              href="mailto:info@eltropezondeareco.com"
              class="tracking-widest hover:underline"
              >info@eltropezondeareco.com</a
            >
          </li>
          <li class="mb-1">
            <a class="tracking-widest">011-4343-2530</a>
          </li>
        </ul>
      </div>
      <div
        class="widget py-5 xl:py-0 lg:col-span-1 col-span-1 lg:mx-auto xl:mx-0 text-center lg:text-left flex flex-col items-center lg:"
      >
        <h5
          class="text-orangeTropezon font-hoeflerText text-base mb-4 tracking-[0.2em] uppercase text-left md:ml-0"
        >
          Redes
        </h5>
        <div class="flex space-x-4 items-center justify-center">
          <a
            target="_blank"
            href="https://www.facebook.com/eltropezondeareco/?locale=es_LA"
            class="text-white"
          >
            <img src="../../assets/img/fb1.svg" alt="" class="w-[1.6rem]" />
          </a>
          <a
            target="_blank"
            href="https://www.instagram.com/eltropezondeareco/"
            class="text-white"
          >
            <img
              src="../../assets/img/instagram1.svg"
              alt=""
              class="w-[1.7rem]"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="font-hoeflerText text-sm py-5 md:pb-2 text-center text-white">
      © 2023 Made by Digital Fellow | All Rights Reserved
    </div>
  </footer>
</section>
