---
layout: layouts/base
eleventyNavigation:
  key: Home
  order: 0
---

{% include "parts/home/hero-home.njk" %} {% include
"parts/home/ubicacion-home.njk" %} {% include
"parts/home/caracteristicas-home.njk" %}{% include "parts/home/conoce-home.njk"
%}{% include "parts/home/masterplan-home.njk" %} {% include
"parts/home/valores-home.njk" %} {% include
"parts/home/introtestimonios-home.njk" %}{% include
"parts/home/testimonios-home.njk" %}{% include
"parts/home/responsables-home.njk" %}{% include "components/contacto-fellow.njk"
%}
